<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Carrito</title>
    <link rel="stylesheet" href="/css/styles.css">
    <script src="https://kit.fontawesome.com/21043c454e.js" crossorigin="anonymous"></script>
    <link rel="stylesheet" type="text/css" href="/css/glider.css">
</head>
<body class="carrito">
    <header id="top">
        <div class="header__top--general">
            <button id="burger"><i class="fa-solid fa-bars"></i></button>
            <nav class="navigation">
                <ul>
                    <li><a href="#">Tienda</a></li>
                    <li><a href="#">Juegos</a></li>
                    <li><a href="#">Tarjetas de Regalo</a></li>
                    <li><a href="#">Xbox</a></li>
                    <li><a href="#">Software</a></li>
                    <li><a href="#">Español Latinoamericano | ARS</a></li>
                </ul>
            </nav>
            <a class="header--figure-logo" href="/index"><img src="/images/logo2.png" alt=""></a>
            <div class="header__top--general-navigation_button">
                <button><a href="#"><i class="fa-solid fa-magnifying-glass"></i></a></button>
                <button><a href="/cart"><i class="fa-solid fa-cart-shopping"></i></a></button>
                <button><a href="/login"><i class="fa-solid fa-user"></i></a></button>
            </div>
        </div>
    </header> 
    <main class="carrito__main">
        <section class="carrito__main__section--productos">
            <p class="carrito__main__section--pruductos-title">Datos de envio</p>
            <div class="linea"><hr></div>
            <form action="/cartAdress" method="POST">

                <input type="text" name="nombre" id="medio" placeholder="Nombre">
                <input type="text" name="apellido" id="medio" placeholder="Apellido">
                <input type="tel" name="codigoarea" id="medio" placeholder="Codigo de area">
                <input type="tel" name="telefono" id="medio" placeholder="Telefono">
                <input type="email" name="email" id="entero" placeholder="Email">
                <input type="text" name="calle" id="entero" placeholder="Calle">
                <input type="text" name="barrio" id="entero" placeholder="Barrio">
                <input type="text" name="ciudad" id="medio" placeholder="Ciudad">
                <input type="text" name="provincia" id="medio" placeholder="Provincia">
                <input type="number" name="codigopostal" id="medio" placeholder="Codigo postal">

                <select name="pais" id="medio">
                    <option value="argentina">Argentina</option>
                    <option value="brasil">Brasil</option>
                    <option value="chile">Chile</option>
                    <option value="paraguay">Paraguay</option>
                    <option value="uruguay">Uruguay</option>
                </select>
            </form>
            <div class="total">
                <div>
                    <p class="total-productos">Productos</p>
                    <p class="total-cantidad">$0</p>
                </div>
                <div >
                    <p class="total-envio">Envio</p>
                    <p class="total-cantidad">$0</p>
                </div>
                <div >
                    <p class="total-total">Total</p>
                    <p class="total-total-cantidad">$0</p>
                </div>
                <img src="/images/medios-de-pago-1723294542" alt="">
                <div class="total-comprar">
                    <button><a href="/cartPay">Continuar</a></button>
                </div>
            </div>
        </section>
        <section class="carrito__main__section--pruductos-recomendados">
            <p class="carrito__main__section--pruductos-title">Productos que pueden interesarte</p>
            <div class="linea"><hr></div>
            <article class="productos-recomendados">
                <div class="glider-contain">
                    <div class="glider">
                      <div><a href=""><img src="/images/xbox-key.jpeg" alt=""></a></div>
                      <div><a href=""><img src="/images/xbox-key.jpeg" alt=""></a></div>
                      <div><a href=""><img src="/images/xbox-key.jpeg" alt=""></a></div>
                      <div><a href=""><img src="/images/xbox-key.jpeg" alt=""></a></div>
                      <div><a href=""><img src="/images/xbox-key.jpeg" alt=""></a></div>
                      <div><a href=""><img src="/images/xbox-key.jpeg" alt=""></a></div>
                      <div><a href=""><img src="/images/xbox-key.jpeg" alt=""></a></div>
                      <div><a href=""><img src="/images/xbox-key.jpeg" alt=""></a></div>
                      <div><a href=""><img src="/images/xbox-key.jpeg" alt=""></a></div>
                      <div><a href=""><img src="/images/xbox-key.jpeg" alt=""></a></div>
                    </div>
                  
                    <button aria-label="Previous" class="glider-prev">«</button>
                    <button aria-label="Next" class="glider-next">»</button>
                    <div role="tablist" class="dots"></div>
                  </div>
                
            </article>
        </section>
    </main>
    <footer>

    </footer>
    <script src="/js/glider.js"></script>
    <script>
        window.addEventListener('load', function(){
  new Glider(document.querySelector('.glider'), {
    slidesToShow: 2,
    slidesToScroll:1,
    itemWith:150,
    dots: '#dots',
    arrows: {
        prev: '.glider-prev',
        next: '.glider-next'
    },
    responsive: [
    {
      // screens greater than >= 768px
      breakpoint: 768,
      settings: {
        // Set to `auto` and provide item width to adjust to viewport
        slidesToShow: 3,
        slidesToScroll: 1,
        itemWidth: 150,
        duration: 0.25
      }
    },{
      // screens greater than >= 1024px
      breakpoint: 1024,
      settings: {
        slidesToShow: 5,
        slidesToScroll: 1,
        itemWidth: 150,
        duration: 0.25
      }
    }
  ]
  })
})
    </script>
</body>
</html>