<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Carrito</title>
    <link rel="stylesheet" href="/css/styles.css">
    <script src="https://kit.fontawesome.com/21043c454e.js" crossorigin="anonymous"></script>
</head>
<body class="carrito">
    <header>
    </header> 
    <main class="carrito__main">
        <section class="carrito__main__section--productos">
            <h2 class="carrito__main__section--pruductos-title">Datos de envio</h2>
            <div class="linea"><hr></div>
            <form action="/cartAdress" method="POST">

                <input type="text" name="nombre" id="medio" placeholder="Nombre">
                <input type="text" name="apellido" id="medio" placeholder="Apellido">
                <input type="tel" name="codigoarea" id="medio" placeholder="Codigo de area">
                <input type="tel" name="telefono" id="medio" placeholder="Telefono">
                <input type="email" name="email" id="entero" placeholder="Email">
                <input type="text" name="calle" id="entero" placeholder="Calle">
                <input type="text" name="barrio" id="entero" placeholder="Barrio">
                <input type="text" name="ciudad" id="medio" placeholder="Ciudad">
                <input type="text" name="provincia" id="medio" placeholder="Provincia">
                <input type="number" name="codigopostal" id="medio" placeholder="Codigo postal">

                <select name="pais" id="medio">
                    <option value="argentina">Argentina</option>
                    <option value="brasil">Brasil</option>
                    <option value="chile">Chile</option>
                    <option value="paraguay">Paraguay</option>
                    <option value="uruguay">Uruguay</option>
                </select>
            </form>
            <div class="total">
                <div>
                    <p class="total-productos">Productos</p>
                    <p class="total-cantidad">$0</p>
                </div>
                <div >
                    <p class="total-envio">Envio</p>
                    <p class="total-cantidad">$0</p>
                </div>
                <div >
                    <p class="total-total">Total</p>
                    <p class="total-total-cantidad">$0</p>
                </div>
                <img src="/images/medios-de-pago-1723294542" alt="">
                <div class="total-comprar">
                    <button><a href="/cartPay">Continuar</a></button>
                </div>
            </div>
        </section>
        <section class="carrito__main__section--pruductos-recomendados">
            <h2 class="carrito__main__section--pruductos-title">Productos que pueden interesarte</h2>
            <div class="linea"><hr></div>
            <article class="productos-recomendados">
                <a href=""><img src="/images/xbox-key.jpeg" alt=""></a>
                <a href=""><img src="/images/xbox-key.jpeg" alt=""></a>
                <a href=""><img src="/images/xbox-key.jpeg" alt=""></a>
                <a href=""><img src="/images/xbox-key.jpeg" alt=""></a>
                <a href=""><img src="/images/xbox-key.jpeg" alt=""></a>
                <a href=""><img src="/images/xbox-key.jpeg" alt=""></a>
                <a href=""><img src="/images/xbox-key.jpeg" alt=""></a>
                <a href=""><img src="/images/xbox-key.jpeg" alt=""></a>
                <a href=""><img src="/images/xbox-key.jpeg" alt=""></a>
                <a href=""><img src="/images/xbox-key.jpeg" alt=""></a>
            </article>
        </section>
    </main>
    <footer>

    </footer>
</body>
</html>