<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Carrito</title>
    <link rel="stylesheet" href="/css/styles.css">
    <script src="https://kit.fontawesome.com/21043c454e.js" crossorigin="anonymous"></script>
</head>
<body class="carrito">
    <header>
    </header> 
    <main class="carrito__main">
        <section class="carrito__main__section--productos">
            <h2 class="carrito__main__section--pruductos-title">Tu carrito</h2>
            <div class="linea"><hr></div>
            <article>
                <img src="/images/xbox-key.jpeg" alt="auriculares">
                <div>
                    <h3>Mortal combat II</h3>
                    <p>
                        Descripcion
                    </p>
                    <button class="contador-resta">-</button>
                    <button class="contador-valor">1</button>
                    <button class="contador-suma">+</button>
                    <button class="delete-product"><i class="fa-solid fa-trash-can"></i></button>
                    <button class="precio">$2000</button>
                </div>
            </article>
            <article>
                <img src="/images/xbox-key.jpeg" alt="silla">
                <div>
                    <h3>Producto 2</h3>
                    <p>Descripcion</p>
                    <button class="contador-resta">-</button>
                    <button class="contador-valor">1</button>
                    <button class="contador-suma">+</button>
                    <button class="delete-product"><i class="fa-solid fa-trash-can"></i></button>
                    <button class="precio">$2000</button>
                </div>
            </article>
            <article>
                <img src="/images/xbox-key.jpeg" alt="placagrafica">
                <div>
                    <h3>Producto 3</h3>
                    <p>Descripcion</p>
                    <button class="contador-resta">-</button>
                    <button class="contador-valor">1</button>
                    <button class="contador-suma">+</button>
                    <button class="delete-product"><i class="fa-solid fa-trash-can"></i></button>
                    <button class="precio">$2000</button>
                </div>
            </article>
            <div class="total">
                <div>
                    <p class="total-productos">Productos</p>
                    <p class="total-cantidad">$0</p>
                </div>
                <div >
                    <p class="total-envio">Envio</p>
                    <p class="total-cantidad">$0</p>
                </div>
                <div >
                    <p class="total-total">Total</p>
                    <p class="total-total-cantidad">$0</p>
                </div>
                <img src="/images/medios-de-pago-1723294542" alt="">
                <div class="total-comprar">
                    <button>Comprar</button>
                </div>
            </div>
        </section>
        <section class="carrito__main__section--pruductos">
            <h2 class="carrito__main__section--pruductos-title">Productos que pueden interesarte</h2>
            <div class="linea"><hr></div>
            <article class="productos-recomendados">
                <a href=""><img src="/images/xbox-key.jpeg" alt=""></a>
                <a href=""><img src="/images/xbox-key.jpeg" alt=""></a>
                <a href=""><img src="/images/xbox-key.jpeg" alt=""></a>
            </article>
        </section>
    </main>
    <footer>

    </footer>
</body>
</html>