<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <title>DALF-Store</title>
    <script src="https://kit.fontawesome.com/ae7c764a16.js" crossorigin="anonymous"></script>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-gH2yIJqKdNHPEq0n4Mqa/HGKIhSkIHeL5AyhkYV8i59U5AR6csBvApHHNl/vI1Bx" crossorigin="anonymous">
    <link href="/css/index.css" rel="stylesheet" />
</head>

<body class="">
    <header id="top">
        <div class="header__top--general">
            <button id="burger"><i class="fa-solid fa-bars"></i></button>
            <h1>DALF-Store</h1>
            <div class="header__top--general-navigation_button">
                <button><i class="fa-solid fa-magnifying-glass"></i></button>
                <button><i class="fa-solid fa-cart-shopping"></i></button>
                <button><i class="fa-solid fa-user"></i></button>
            </div>
        </div>
    </header>
    <main id="mid">
        <div id="carouselExampleIndicators" class="carousel slide pointer-event" data-bs-ride="true">
            <div class="carousel-indicators">
                <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="0" class="active" aria-current="true" aria-label="Slide 1"></button>
                <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="1" aria-label="Slide 2"></button>
                <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="2" aria-label="Slide 3"></button>
            </div>
            <div class="carousel-inner">
                <div class="carousel-item active">
                    <img src="/images/diseno-diseno-banner-fondo-ancho-azul-geometrico-abstracto_1017-23062.webp" class="d-block w-100" alt="banner-1">
                </div>
                <div class="carousel-item">
                    <img src="/images/diseno-diseno-banner-fondo-ancho-azul-geometrico-abstracto_1017-23062.webp" class="d-block w-100" alt="banner-2">
                </div>
                <div class="carousel-item">
                    <img src="/images/diseno-diseno-banner-fondo-ancho-azul-geometrico-abstracto_1017-23062.webp" class="d-block w-100" alt="banner-3">
                </div>
            </div>
            <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide="prev">
                <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                <span class="visually-hidden">Previous</span>
            </button>
            <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide="next">
                <span class="carousel-control-next-icon" aria-hidden="true"></span>
                <span class="visually-hidden">Next</span>
            </button>
        </div>
        <h2>Oferta del Día</h2>
        <section class="main__section--product">
            <article class="main__section--product-article">
                <img src="/images/xbox-key.jpeg" alt="xbox-key">
                <div class="main__section--product-favorite"><i class="fa-regular fa-heart"></i></div>
                <div class="main__section--product-content_offers">
                    <p class="main__section--product-region">GLOBAL</p>
                    <p class="main__section--product-ubication">Desde</p>
                    <p class="main__section--product-price">$ 9999</p>
                    <p class="main__section--product-discount">5% OFF</p>
                    <p class="main__section--product-description">Xbox Microsoft Key</p>
                </div>
            </article>
            <article class="main__section--product-article">
                <img src="/images/xbox-key.jpeg" alt="xbox-key">
                <div class="main__section--product-favorite"><i class="fa-regular fa-heart"></i></div>
                <div class="main__section--product-content_offers">
                    <p class="main__section--product-region">GLOBAL</p>
                    <p class="main__section--product-ubication">Desde</p>
                    <p class="main__section--product-price">$ 9999</p>
                    <p class="main__section--product-discount">5% OFF</p>
                    <p class="main__section--product-description">Xbox Microsoft Key</p>
                </div>
            </article>
            <article class="main__section--product-article">
                <img src="/images/xbox-key.jpeg" alt="xbox-key">
                <div class="main__section--product-favorite"><i class="fa-regular fa-heart"></i></div>
                <div class="main__section--product-content_offers">
                    <p class="main__section--product-region">GLOBAL</p>
                    <p class="main__section--product-ubication">Desde</p>
                    <p class="main__section--product-price">$ 9999</p>
                    <p class="main__section--product-discount">5% OFF</p>
                    <p class="main__section--product-description">Xbox Microsoft Key</p>
                </div>
            </article>
            <article class="main__section--product-article">
                <img src="/images/xbox-key.jpeg" alt="xbox-key">
                <div class="main__section--product-favorite"><i class="fa-regular fa-heart"></i></div>
                <div class="main__section--product-content_offers">
                    <p class="main__section--product-region">GLOBAL</p>
                    <p class="main__section--product-ubication">Desde</p>
                    <p class="main__section--product-price">$ 9999</p>
                    <p class="main__section--product-discount">5% OFF</p>
                    <p class="main__section--product-description">Xbox Microsoft Key</p>
                </div>
            </article>
            <button class="main__section--display_button">Ver más</button>
        </section>
        <div id="carouselExampleCaptions" class="carousel slide pointer-event" data-bs-ride="true">
            <div class="carousel-indicators">
                <button type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide-to="0" class="active" aria-current="true" aria-label="Slide 1"></button>
                <button type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide-to="1" aria-label="Slide 2"></button>
                <button type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide-to="2" aria-label="Slide 3"></button>
            </div>
            <div class="carousel-inner">
                <div class="carousel-item active">
                    <img src="/images/diseno-diseno-banner-fondo-ancho-azul-geometrico-abstracto_1017-23062.webp" class="d-block w-100" alt="...">
                    <div class="carousel-caption d-none d-md-block">
                        <h5>First slide label</h5>
                        <p>Some representative placeholder content for the first slide.</p>
                    </div>
                </div>
                <div class="carousel-item">
                    <img src="/images/diseno-diseno-banner-fondo-ancho-azul-geometrico-abstracto_1017-23062.webp" class="d-block w-100" alt="...">
                    <div class="carousel-caption d-none d-md-block">
                        <h5>Second slide label</h5>
                        <p>Some representative placeholder content for the second slide.</p>
                    </div>
                </div>
                <div class="carousel-item">
                    <img src="/images/diseno-diseno-banner-fondo-ancho-azul-geometrico-abstracto_1017-23062.webp" class="d-block w-100" alt="...">
                    <div class="carousel-caption d-none d-md-block">
                        <h5>Third slide label</h5>
                        <p>Some representative placeholder content for the third slide.</p>
                    </div>
                </div>
            </div>
            <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide="prev">
                <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                <span class="visually-hidden">Previous</span>
            </button>
            <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide="next">
                <span class="carousel-control-next-icon" aria-hidden="true"></span>
                <span class="visually-hidden">Next</span>
            </button>
        </div>
        <h2>Juegos Recomendados Digitales</h2>
        <section class="main__section--product">
            <article class="main__section--product-article">
                <img src="/images/xbox-key.jpeg" alt="xbox-key">
                <div class="main__section--product-favorite"><i class="fa-regular fa-heart"></i></div>
                <div class="main__section--product-content">
                    <p class="main__section--product-region">GLOBAL</p>
                    <p class="main__section--product-ubication">Desde</p>
                    <p class="main__section--product-price">$ 9999</p>
                    <p class="main__section--product-description">Xbox Microsoft Key</p>
                </div>
            </article>
            <article class="main__section--product-article">
                <img src="/images/xbox-key.jpeg" alt="xbox-key">
                <div class="main__section--product-favorite"><i class="fa-regular fa-heart"></i></div>
                <div class="main__section--product-content">
                    <p class="main__section--product-region">GLOBAL</p>
                    <p class="main__section--product-ubication">Desde</p>
                    <p class="main__section--product-price">$ 9999</p>
                    <p class="main__section--product-description">Xbox Microsoft Key</p>
                </div>
            </article>
            <article class="main__section--product-article">
                <img src="/images/xbox-key.jpeg" alt="xbox-key">
                <div class="main__section--product-favorite"><i class="fa-regular fa-heart"></i></div>
                <div class="main__section--product-content">
                    <p class="main__section--product-region">GLOBAL</p>
                    <p class="main__section--product-ubication">Desde</p>
                    <p class="main__section--product-price">$ 9999</p>
                    <p class="main__section--product-description">Xbox Microsoft Key</p>
                </div>
            </article>
            <article class="main__section--product-article">
                <img src="/images/xbox-key.jpeg" alt="xbox-key">
                <div class="main__section--product-favorite"><i class="fa-regular fa-heart"></i></div>
                <div class="main__section--product-content">
                    <p class="main__section--product-region">GLOBAL</p>
                    <p class="main__section--product-ubication">Desde</p>
                    <p class="main__section--product-price">$ 9999</p>
                    <p class="main__section--product-description">Xbox Microsoft Key</p>
                </div>
            </article>
            <button class="main__section--display_button">Ver más</button>
        </section>
        <h2>Producto de nuestros usuarios</h2>
        <section class="main__section--product">
            <article class="main__section--product-article">
                <img src="/images/xbox-key.jpeg" alt="xbox-key">
                <div class="main__section--product-favorite"><i class="fa-regular fa-heart"></i></div>
                <div class="main__section--product-content">
                    <p class="main__section--product-region">GLOBAL</p>
                    <p class="main__section--product-ubication">Desde</p>
                    <p class="main__section--product-price">$ 9999</p>
                    <p class="main__section--product-description">Xbox Microsoft Key</p>
                </div>
            </article>
            <article class="main__section--product-article">
                <img src="/images/xbox-key.jpeg" alt="xbox-key">
                <div class="main__section--product-favorite"><i class="fa-regular fa-heart"></i></div>
                <div class="main__section--product-content">
                    <p class="main__section--product-region">GLOBAL</p>
                    <p class="main__section--product-ubication">Desde</p>
                    <p class="main__section--product-price">$ 9999</p>
                    <p class="main__section--product-description">Xbox Microsoft Key</p>
                </div>
            </article>
            <article class="main__section--product-article">
                <img src="/images/xbox-key.jpeg" alt="xbox-key">
                <div class="main__section--product-favorite"><i class="fa-regular fa-heart"></i></div>
                <div class="main__section--product-content">
                    <p class="main__section--product-region">GLOBAL</p>
                    <p class="main__section--product-ubication">Desde</p>
                    <p class="main__section--product-price">$ 9999</p>
                    <p class="main__section--product-description">Xbox Microsoft Key</p>
                </div>
            </article>
            <article class="main__section--product-article">
                <img src="/images/xbox-key.jpeg" alt="xbox-key">
                <div class="main__section--product-favorite"><i class="fa-regular fa-heart"></i></div>
                <div class="main__section--product-content">
                    <p class="main__section--product-region">GLOBAL</p>
                    <p class="main__section--product-ubication">Desde</p>
                    <p class="main__section--product-price">$ 9999</p>
                    <p class="main__section--product-description">Xbox Microsoft Key</p>
                </div>
            </article>
            <button class="main__section--display_button">Ver más</button>
        </section>
        <h2>Categorías</h2>
    </main>
    <footer>
    </footer>
    <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.11.5/dist/umd/popper.min.js" integrity="sha384-Xe+8cL9oJa6tN/veChSP7q+mnSPaj5Bcu9mPX5F5xIGE0DVittaqT5lorf0EI7Vk" crossorigin="anonymous">
    </script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0/dist/js/bootstrap.min.js" integrity="sha384-ODmDIVzN+pFdexxHEHFBQH3/9/vQ9uori45z4JjnFsRydbmQbmL5t1tQ0culUzyK" crossorigin="anonymous">
    </script>
</body>

</html>