<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <title>DALF-Store</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-gH2yIJqKdNHPEq0n4Mqa/HGKIhSkIHeL5AyhkYV8i59U5AR6csBvApHHNl/vI1Bx" crossorigin="anonymous">
    <link href="/css/styles.css" rel="stylesheet" />
    <link href="/css/index.css" rel="stylesheet" />
    <link href="/css/header.css" rel="stylesheet">
    <link href="/css/footer.css" rel="stylesheet">
    <link rel="stylesheet" type="text/css" href="/css/glider.css">
</head>

<body id="index">
    <header id="top">
        <div class="header__top--general">
            <button id="burger"><i class="fa-solid fa-bars"></i></button>
            <nav class="navigation">
                <ul>
                    <li>
                        <select name="juegos" id="juegos">
                        <option value="">Juegos</option>
                        <option value=""></option>
                        <option value=""></option>
                        <option value=""></option>
                        <option value=""></option>
                        <option value=""></option>
                        </select>
                    </li>
                    <li>
                        <select name="Xbox" id="Xbox">
                            <option value="">Xbox</option>
                            <option value=""></option>
                            <option value=""></option>
                            <option value=""></option>
                            <option value=""></option>
                            <option value=""></option>
                        </select>
                    </li>
                    <li><a href="#">Software</a></li>
                    <li><a href="#">Tarjetas de Regalo</a></li>
                    <li><a href="#">Productos fisicos</a></li>
                    <li>Español Latinoamericano | ARS</li>
                </ul>
            </nav>
            <a class="header--figure-logo" href="/index"><img src="/images/logo2.png" alt=""></a>
            <div class="header__top--general-navigation_button">
                <button><a href="#"><i class="fa-solid fa-magnifying-glass"></i></a></button>
                <button><a href="/cart"><i class="fa-solid fa-cart-shopping"></i></a></button>
                <button><a href="/login"><i class="fa-solid fa-user"></i></a></button>
            </div>
        </div>
    </header>
    <main id="mid">
        <div id="carouselExampleIndicators" class="carousel slide" data-bs-ride="true">
            <div class="carousel-indicators">
                <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="0" class="active" aria-current="true" aria-label="Slide 1"></button>
                <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="1" aria-label="Slide 2"></button>
                <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="2" aria-label="Slide 3"></button>
            </div>
            <div class="carousel-inner">
                <div class="carousel-item active">
                    <img src="/images/banner1.webp" class="d-block w-100 main--img-banner" alt="...">
                </div>
                <div class="carousel-item">
                    <img src="/images/banner2.jpg" class="d-block w-100 main--img-banner" alt="...">
                </div>
                <div class="carousel-item">
                    <img src="/images/banner3.jpg" class="d-block w-100 main--img-banner" alt="...">
                </div>
            </div>
            <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide="prev">
                <span class="carousel-control-prev-icon main-carousel-button" aria-hidden="true"></span>
                <span class="visually-hidden">Previous</span>
            </button>
            <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide="next">
                <span class="carousel-control-next-icon main-carousel-button" aria-hidden="true"></span>
                <span class="visually-hidden">Next</span>
            </button>
        </div>
        <h2>Oferta del Día</h2>
        <section class="main__section--product ">
            <article class="main__section--product-article ">
                <img src="/images/gift-card-playstation.jpeg " alt="xbox-key ">
                <div class="main__section--product-favorite "><i class="fa-regular fa-heart "></i></div>
                <div class="main__section--product-content_offers ">
                    <div class="main-section-global-region ">
                        <p class="main__section--product-region ">Estados Unidos</p>
                        <p class="main__section--product-ubication ">Desde</p>
                    </div>
                    <div class="main-section-price-ofert ">
                        <p class="main__section--product-price ">$ 9999</p>
                        <p class="main__section--product-discount ">5% OFF</p>
                    </div>
                    <p class="main__section--product-description ">PlayStation Network Card 75 USD (USA) PSN Key Estados Unidos</p>
                </div>
            </article>
            <article class="main__section--product-article">
                <img src="/images/RE2-card.jpeg" alt="xbox-key ">
                <div class="main__section--product-favorite "><i class="fa-regular fa-heart "></i></div>
                <div class="main__section--product-content_offers ">
                    <div class="main-section-global-region ">
                        <p class="main__section--product-region ">Argentina</p>
                        <p class="main__section--product-ubication ">Desde</p>
                    </div>
                    <div class="main-section-price-ofert">
                        <p class="main__section--product-price ">$ 9999</p>
                        <p class="main__section--product-discount ">5% OFF</p>
                    </div>
                    <p class="main__section--product-description ">Resident Evil 2 Remake XBOX LIVE Key Argentina</p>
                </div>
            </article>
            <article class="main__section--product-article">
                <img src="/images/gtav-card.jpeg" alt="xbox-key ">
                <div class="main__section--product-favorite "><i class="fa-regular fa-heart "></i></div>
                <div class="main__section--product-content_offers ">
                    <div class="main-section-global-region ">
                        <p class="main__section--product-region ">Argentina</p>
                        <p class="main__section--product-ubication ">Desde</p>
                    </div>
                    <div class="main-section-price-ofert">
                        <p class="main__section--product-price ">$ 9999</p>
                        <p class="main__section--product-discount ">5% OFF</p>
                    </div>
                    <p class="main__section--product-description ">Grand Theft Auto V: Premium Online Edition & Great White Shark Card Bundle XBOX LIVE Key Argentina</p>
                </div>
            </article>
            <article class="main__section--product-article ">
                <img src="/images/steam-card.jpeg" alt="xbox-key ">
                <div class="main__section--product-favorite "><i class="fa-regular fa-heart "></i></div>
                <div class="main__section--product-content_offers ">
                    <div class="main-section-global-region ">
                        <p class="main__section--product-region ">Argentina</p>
                        <p class="main__section--product-ubication ">Desde</p>
                    </div>
                    <div class="main-section-price-ofert ">
                        <p class="main__section--product-price ">$ 9999</p>
                        <p class="main__section--product-discount ">5% OFF</p>
                    </div>
                    <p class="main__section--product-description ">Tarjeta Regalo Steam 1000 ARS Clave Steam Argentina</p>
                </div>
            </article>
        </section>
        <div class="main-content-buttom "><button class="main-display-button ">Ver más</button></div>
        <div id="carouselExampleCaptions" class="carousel slide" data-bs-ride="false">
            <div class="carousel-indicators">
                <button type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide-to="0" class="active" aria-current="true" aria-label="Slide 1"></button>
                <button type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide-to="1" aria-label="Slide 2"></button>
                <button type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide-to="2" aria-label="Slide 3"></button>
            </div>
            <div class="carousel-inner">
                <div class="carousel-item active">
                    <img src="/images/white-background-2-768x450.jpg" class="d-block w-100 main--img-banner" alt="">
                    <div class="carousel-caption d-none d-md-block main--carousel-p-color">
                        <h5>Cliente+</h5>
                        <p>Beneficios increibles con Cliente+.</p>
                    </div>
                </div>
                <div class="carousel-item">
                    <img src="/images/white-background-2-768x450.jpg" class="d-block w-100 main--img-banner" alt="">
                    <div class="carousel-caption d-none d-md-block main--carousel-p-color">
                        <h5>Partnership</h5>
                        <p>Convierte en socio de DALF-Store.</p>
                    </div>
                </div>
                <div class="carousel-item">
                    <img src="/images/white-background-2-768x450.jpg" class="d-block w-100 main--img-banner" alt="">
                    <div class="carousel-caption d-none d-md-block main--carousel-p-color">
                        <h5>Merchandising</h5>
                        <p>Compra productos unicos de la pagina. <i class="fa-solid fa-heart"></i> </p>
                    </div>
                </div>
            </div>
            <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide="prev">
                <span class="carousel-control-prev-icon main-carousel-button" aria-hidden="true"></span>
                <span class="visually-hidden">Previous</span>
            </button>
            <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide="next">
                <span class="carousel-control-next-icon main-carousel-button" aria-hidden="true"></span>
                <span class="visually-hidden">Next</span>
            </button>
        </div>
        <h2>Juegos Recomendados (Digitales)</h2>
        <section class="main__section--product ">
            <article class="main__section--product-article ">
                <div class="main__section--product-favorite "><i class="fa-regular fa-heart "></i></div>
                <img src="/images/eldenring-card.webp " alt="xbox-key ">
                <div class="main__section--product-content ">
                    <div class="main-section-global-region ">
                        <p class="main__section--product-region ">Argentina</p>
                        <p class="main__section--product-ubication ">Desde</p>
                    </div>
                    <p class="main__section--product-price ">$ 9999</p>
                    <p class="main__section--product-description ">Eldern Rin Código de XBOX LIVE Argentina</p>
                </div>
            </article>
            <article class="main__section--product-article ">
                <img src="/images/minecraftjava-bedrockedition-card.webp" alt="xbox-key ">
                <div class="main__section--product-favorite "><i class="fa-regular fa-heart "></i></div>
                <div class="main__section--product-content ">
                    <div class="main-section-global-region ">
                        <p class="main__section--product-region ">Argentina</p>
                        <p class="main__section--product-ubication ">Desde</p>
                    </div>
                    <p class="main__section--product-price ">$ 9999</p>
                    <p class="main__section--product-description ">Minecraft: Java & Bedrock Edition Official website Key Argentina</p>
                </div>
            </article>
            <article class="main__section--product-article ">
                <img src="/images/megaman11-card.jpeg " alt="xbox-key ">
                <div class="main__section--product-favorite "><i class="fa-regular fa-heart "></i></div>
                <div class="main__section--product-content ">
                    <div class="main-section-global-region ">
                        <p class="main__section--product-region ">Argentina</p>
                        <p class="main__section--product-ubication ">Desde</p>
                    </div>
                    <p class="main__section--product-price ">$ 9999</p>
                    <p class="main__section--product-description ">Mega Man 11 XBOX LIVE Key Argentina</p>
                </div>
            </article>
            <article class="main__section--product-article ">
                <img src="/images/re4-card.jpeg " alt="xbox-key ">
                <div class="main__section--product-favorite "><i class="fa-regular fa-heart "></i></div>
                <div class="main__section--product-content ">
                    <div class="main-section-global-region ">
                        <p class="main__section--product-region ">Argentina</p>
                        <p class="main__section--product-ubication ">Desde</p>
                    </div>
                    <p class="main__section--product-price ">$ 9999</p>
                    <p class="main__section--product-description ">Resident Evil 4 XBOX LIVE Key Argentina</p>
                </div>
            </article>
        </section>

        <div class="main-content-buttom "><button class="main-display-button ">Ver más</button></div>
        <h2>Producto de nuestros usuarios</h2>
        <section class="main__section--product ">
            <article class="main__section--product-article ">
                <img class="main__section--product-img" src="/images/producto-de-usuario.webp" width="600px" height="202.8px" alt="xbox-key ">
                <div class="main__section--product-favorite "><i class="fa-regular fa-heart "></i></div>
                <div class="main__section--product-content ">
                    <div class="main-section-global-region ">
                        <p class="main__section--product-region ">Argentina</p>
                        <p class="main__section--product-ubication ">Desde</p>
                    </div>
                    <p class="main__section--product-price ">$ 9999</p>
                    <p class="main__section--product-description ">Oculus Quest 2 Advanced All In One Casco Vr 128gb</p>
                </div>
            </article>
            <article class="main__section--product-article ">
                <img class="main__section--product-img" src="/images/producto-de-usuario1.webp" alt="xbox-key ">
                <div class="main__section--product-favorite "><i class="fa-regular fa-heart "></i></div>
                <div class="main__section--product-content ">
                    <div class="main-section-global-region ">
                        <p class="main__section--product-region ">Argentina</p>
                        <p class="main__section--product-ubication ">Desde</p>
                    </div>
                    <p class="main__section--product-price ">$ 9999</p>
                    <p class="main__section--product-description ">Teclado gamer Redragon Kumara K552 QWERTY Outemu Blue español latinoamérica color blanco con luz RGB</p>
                </div>
            </article>
            <article class="main__section--product-article ">
                <img class="main__section--product-img" src="/images/producto-de-usuario2.webp " alt="xbox-key ">
                <div class="main__section--product-favorite "><i class="fa-regular fa-heart "></i></div>
                <div class="main__section--product-content ">
                    <div class="main-section-global-region ">
                        <p class="main__section--product-region ">Argentina</p>
                        <p class="main__section--product-ubication ">Desde</p>
                    </div>
                    <p class="main__section--product-price ">$ 9999</p>
                    <p class="main__section--product-description ">Puesto Trabajo Gerencial Mod Argeno Jmi</p>
                </div>
            </article>
            <article class="main__section--product-article ">
                <img class="main__section--product-img" src="/images/producto-de-usuario3.webp " alt="xbox-key ">
                <div class="main__section--product-favorite "><i class="fa-regular fa-heart "></i></div>
                <div class="main__section--product-content ">
                    <div class="main-section-global-region ">
                        <p class="main__section--product-region ">Argentina</p>
                        <p class="main__section--product-ubication ">Desde</p>
                    </div>
                    <p class="main__section--product-price ">$ 9999</p>
                    <p class="main__section--product-description ">Monitor gamer curvo Samsung F390 Series C24F390FH led 24 " black high glossy 100V/240V</p>
                </div>
            </article>
        </section>
        <div class="main-content-buttom "><button class="main-display-button ">Ver más</button></div>
        <h2>Categorías</h2>
        <div id="carouselExampleControls" class="carousel slide" data-bs-ride="carousel">
            <div class="carousel-inner">
                <div class="carousel-item active">
                    <img src="/images/banner-accion.png" class="d-block w-100 main-article-carousel main--img-banner main--img-banner-categoris" alt="...">
                </div>
                <div class="carousel-item">
                    <img src="/images/banner-aventuras.png" class="d-block w-100 main-article-carousel main--img-banner main--img-banner-categoris" alt="...">
                </div>
                <div class="carousel-item">
                    <img src="/images/banner-rpg.png" class="d-block w-100 main-article-carousel main--img-banner main--img-banner-categoris" alt="...">
                </div>
                <div class="carousel-item">
                    <img src="/images/banner-indie.png" class="d-block w-100 main-article-carousel main--img-banner main--img-banner-categoris" alt="...">
                </div>
                <div class="carousel-item">
                    <img src="/images/banner-fps-tps.png" class="d-block w-100 main-article-carousel main--img-banner main--img-banner-categoris" alt="...">
                </div>
                <div class="carousel-item">
                    <img src="/images/eric-nice.png" class="d-block w-100 main-article-carousel main--img-banner main--img-banner-categoris" alt="...">
                </div>
            </div>
            <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleControls" data-bs-slide="prev">
                <span class="carousel-control-prev-icon main-carousel-button" aria-hidden="true"></span>
                <span class="visually-hidden">Previous</span>
            </button>
            <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleControls" data-bs-slide="next">
                <span class="carousel-control-next-icon main-carousel-button" aria-hidden="true"></span>
                <span class="visually-hidden">Next</span>
            </button>
        </div>
    </main>
    <footer>
        <div class="footer--logo">
            <a href="/index"><img src="/images/logo2.png" alt="Logo"></a>
        </div>
        <section class="footer__formas-de-pago">
            <a href="https://www.visa.com.ar"><img src="/images/Visa.png" alt="Visa"></a>
            <a href="https://www.mastercard.com.ar/es-ar.html"><img src="/images/Mastercard.png" alt="Mastercard"></a>
            <a href="https://www.americanexpress.com/es-ar/"><img src="/images/American express.png" alt="American Express"></a>
            <a href="https://www.naranjax.com"><img src="/images/Naranja.png" alt="Naranja"></a>
            <a href="https://www.mercadopago.com.ar/home"><img src="/images/mercadopago.jpg" alt="Mercadopago"></a>
            <a href="https://www.nativanacion.com.ar"><img src="/images/Nativa.jpg" alt="Nativa"></a>
            <a href="https://www.redlink.com.ar"><img src="/images/Red Link.png" alt="Red Link"></a>
        </section>
        <section class="footer__lastsection">
            <nav class="footer__lastsection__navbar">
                <ul>
                    <li>Sobre nosotros</li>
                    <li>Contactanos</li>
                    <li>Politicas de privacidad</li>
                    <li>Ayuda</li>
                </ul>
            </nav>
            <p class="footer__lastsection__copyright">Copyright © 2022 DALF-STORE</p>
        </section>
    </footer>
    <script src="https://kit.fontawesome.com/ae7c764a16.js " crossorigin="anonymous "></script>
    <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.11.5/dist/umd/popper.min.js " integrity="sha384-Xe+8cL9oJa6tN/veChSP7q+mnSPaj5Bcu9mPX5F5xIGE0DVittaqT5lorf0EI7Vk " crossorigin="anonymous "></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0/dist/js/bootstrap.min.js " integrity="sha384-ODmDIVzN+pFdexxHEHFBQH3/9/vQ9uori45z4JjnFsRydbmQbmL5t1tQ0culUzyK " crossorigin="anonymous "></script>
    <script src="/js/glider.js"></script>
    <script>
        const myCarouselElement = document.querySelector('#carouselExampleIndicators #carouselExampleControls')
        const carousel = new bootstrap.Carousel(myCarouselElement, {
            interval: 999999,
        })
    </script>
</body>

</html>