<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/css/styles.css">
    <script src="https://kit.fontawesome.com/b37740f339.js" crossorigin="anonymous"></script>
    <title>DALF | DETALLE</title>
</head>

<body>
    <header id="top">
        <div class="header__top--general">
            <button id="burger"><i class="fa-solid fa-bars"></i></button>
            <nav class="navigation">
                <ul>
                    <li><a href="#">Tienda</a></li>
                    <li><a href="#">Juegos</a></li>
                    <li><a href="#">Tarjetas de Regalo</a></li>
                    <li><a href="#">Xbox</a></li>
                    <li><a href="#">Software</a></li>
                    <li><a href="#">Español Latinoamericano | ARS</a></li>
                </ul>
            </nav>
            <a class="header--figure-logo" href="/index"><img src="/images/logo2.png" alt=""></a>
            <div class="header__top--general-navigation_button">
                <button><a href="#"><i class="fa-solid fa-magnifying-glass"></i></a></button>
                <button><a href="/cart"><i class="fa-solid fa-cart-shopping"></i></a></button>
                <button><a href="/login"><i class="fa-solid fa-user"></i></a></button>
            </div>
        </div>
    </header>
    <main class="productdetail__main">
        <section class="detail__product__images">
            <img class="product-img" src="/images/producto-de-usuario.webp" alt="product">
            <img src="/images/producto-de-usuario (2).webp" alt="product1">
            <img src="/images/producto-de-usuario (3).webp" alt="product2">
            <img src="/images/producto-de-usuario (4).webp" alt="product3">
            <img src="/images/producto-de-usuario (5).webp" alt="product4">
        </section>
        <section class="detail__purchase">
            <article class="detail__purchase__product">
                <h1 class="detail__purchase__product--title">Producto</h1>
                <div class="detail__purchase__product--box">
                    <p class="detail__purchase__product--price">$ 1 :o</p>
                    <p class="detail__purchase__product--discount">100% OFF</p>
                </div>
                <div>
                    <p class="detail__purchase__product--rebajas">En 12 cuotas sin interes</p>
                </div>
            </article>
            <p class="detail__product__envio"><i class="fa-solid fa-truck"></i> Envío gratis a todo el país</p>
            <div class="bar-button-stock">
                <input type="text" class="stock-input" placeholder=" Stock disponible: 99">
                <button class="contador-resta">-</button>
                <button class="contador-valor">1</button>
                <button class="contador-suma">+</button>
            </div>
            <article class="detail__purchase__buttons">
                <div class="detail__purchase__buttons--cart">
                    <button type="submit" name="cart"><i class="fa-solid fa-cart-shopping"></i> Agregar al carrito</button>
                </div>
                <div class="detail__purchase__buttons--fav">
                    <button type="submit" name="favorites"><i class="fa-solid fa-heart"></i> Agregar favoritos</button>
                </div>
            </article>
        </section>
        <section class="detail__product__features">
            <h3>Caracteristicas</h3>
            <ul>
                <li>mini eric hace una funcion en la cual yo sea un genio</li>
                <li>jsjsjs estan leyendo esto</li>
                <li>hola profes, ¿Como andan?</li>
                <li>Esto es un lorem falso</li>
                <li>No se que poner</li>
                <li>Son las 2:50am tengo sueño~</li>
                <li>Estan re buenos los lentes, te lo rescomiendo</li>
            </ul>
        </section>
        <section class="detail__product__store">
            <h3>Descripción</h3>
            <p>Oculus Quest 2 128GB INCLUYE - Casco VR de realidad virtual - Funda de Silicona para Interfaz Facial - 2 Controles - 2 Pilas AA - Cargador de Pared - Separador para uso de Anteojos - Cable de Carga HARDWARE DE ÚLTIMA GENERACIÓN - Con su procesador
                ultrarrápido y la pantalla de mayor resolución, cada uno de tus moviementos cuentan. FÁCIL DE CONFIGURAR - Abre la caja, configúralo con la aplicación para smartphone y adéntrate en la realidad virtual. No necesita PC ni consola. Requiere
                acceso inalámbrico a internet y la aplicación Oculus (gratis para descargar) para realizar la configuración. EXPERIENCA DE JUEGO TODO EN UNO - Explora títulos nuevos y clásicos en la extensa biblioteca de juegos de Oculus Quest, todos
                compatibles con Quest 2. ENTRETENIMIENTO INMERSIVO - Consigue un asiento en primera fila en conciertos en directo, películas innovadoras, eventos exclusivos y mucho más. PANTALLA PREMIUM - No se te escapará ningún detalle gracias a su
                increíble pantalla con 50% más píxeles que la generación anterior de Quest. Quest 2 necesita tu cuenta de Facebook para iniciar sesión, lo que te permite encontrar a tus amigos en la realidad virtual con facilidad y descubrir comunidades
                alrededor del mundo. COMPATIBLE CON PC EQUIPADA PARA VIDEOJUEGOS DE REALIDAD VIRTUAL - Conecta tu gafas con un PC para videojuegos compatible mediante el cable Link y adéntrate en títulos increíbles de Oculus Rift. El cable de enlace de
                Oculus se vende por separado. SONIDO CINEMATOGRÁFICO 3D - Escucha en todas las direcciones con los altavoces integrados que emiten un sonido posicional cinemático en 3D. PROYECTA LA IMAGEN DE LAS GAFAS - Muestra lo que ves en las gafas
                directamente en la aplicación de Oculus o en un televisor compatible. * El almacenamiento disponible es menor del que se muestra debido al software existente. Es necesario tener una cuenta de Facebook. //////////////////////////////////////////////////////////
                SOMOS CLD Más de 10 años en el mercado. 100% de calificaciones positivas. ////////////////////////////////////////////////////////// 30 DIAS DE PRUEBA: Recibí el producto que esperabas o te devolvemos tu dinero. Calidad asegurada en todos
                nuestros productos. ////////////////////////////////////////////////////////// VENTAS MAYORISTAS En CLD somos importadores directos de todos los productos que comercializamos. Consúltanos por precios mayoristas y convertirte en distribuidor
                de nuestros productos. ////////////////////////////////////////////////////////// RETIROS EN SUCURSAL: Nos encontramos ubicados en la zona de Once, CABA. Podés retirar tus compras por nuestro local de lunes a viernes de 8.15hs a 18hs •
                Colectivos: 26, 24, 124, 146, 115,95 • Subte: Línea B Pasteur, línea H once y corrientes, Línea D facultad de medicina (6 cuadras) • Tren: BELGRANO NORTE, MITRE, SAN MARTÍN, SARMIENTO IMPORTANTE: Esta opción es únicamente para las compras
                realizadas con la modalidad "ACUERDO CON EL VENDEDOR" o "RETIRO EN DOMICILIO DEL VENDEDOR" ////////////////////////////////////////////////////////// ENVIOS A DOMICILIO A TODO EL PAIS MEDIANTE MERCADO ENVIOS CON NORMALIDAD: Podés conocer
                el costo de envío y demora de tu compra colocando tu código postal debajo del precio de cada publicación. ////////////////////////////////////////////////////////// ENVIOS POR MOTO FLEX EN CABA Y GBA: Podés consultar el costo de envío
                y la demora de tu compra seleccionando la opción "MOTO FLEX" o "ENVIO EN EL DIA" ///////////////////////////////////////////////////////// ACEPTAMOS TODOS LOS MEDIOS DE PAGO ////////////////////////////////////////////////////////// FACTURACION
                Emitimos Factura A y B. Si necesitás factura A te pedimos que coloques los datos correspondientes en tus datos de facturación. IMPORTANTE - En caso contrario la factura se emite automáticamente como factura B (consumidor final) por nuestro
                sistema de facturación. ////////////////////////////////////////////////////////// LA GARANTIA DE TODOS NUESTROS PRODUCTOS ES DE 30 DIAS ////////////////////////////////////////////////////////// Estamos disponibles online de 8.15hs a
                18hs para responder todas tus consultas de manera rápida y eficaz. Para nosotros es un placer ayudarte. CLD. ____________________________
            </p>
        </section>
        <section class="detail__product__ratings">
            <h3>Calificaciones</h3>
            <article>
                <div class="detail__product__ratings-buttons">
                    <button><i class="fa-regular fa-thumbs-up"></i> Positivas</button>
                    <button><i class="fa-regular fa-thumbs-down"></i> Negativas</button>
                </div>
                <div class="detail__product__ratings-comments">
                    <div>
                        <i class="fa-solid fa-star"></i><i class="fa-solid fa-star"></i><i class="fa-solid fa-star"></i><i class="fa-solid fa-star-half-stroke"></i>
                    </div>
                    <p>estan bastantes lindos los lentes, pero las personas que estan viendo la presentación del detail de Luca son mas lindas c:</p>
                </div>
                <div class="detail__product__ratings-comments">
                    <div>
                        <i class="fa-solid fa-star"></i><i class="fa-solid fa-star"></i><i class="fa-solid fa-star"></i><i class="fa-solid fa-star-half-stroke"></i>
                    </div>
                    <p>yo pienso que estan bastantes copados, pero estaria mas copado si le dan unos aplausasos al grupo Numero 3 <i class="fa-solid fa-heart"></i></p>
                </div>
            </article>
        </section>
        <section class="detail__product__questions">
            <h3>Preguntas Frecuentes</h3>
            <article>
                <ul>
                    <li> Lorem ipsum dolor sit amet consectetur adipisicing elit. Quasi, tempore.</li>
                    <li> Lorem ipsum dolor sit amet consectetur adipisicing elit. Quasi, tempore.</li>
                    <li> Lorem ipsum dolor sit amet consectetur adipisicing elit. Quasi, tempore.</li>
                    <li> Lorem ipsum dolor sit amet consectetur adipisicing elit. Quasi, tempore.</li>
                </ul>
            </article>
            <article>
                <ul>
                    <li> Lorem ipsum dolor sit amet consectetur adipisicing elit. Quasi, tempore.</li>
                    <li> Lorem ipsum dolor sit amet consectetur adipisicing elit. Quasi, tempore.</li>
                    <li> Lorem ipsum dolor sit amet consectetur adipisicing elit. Quasi, tempore.</li>
                    <li> Lorem ipsum dolor sit amet consectetur adipisicing elit. Quasi, tempore.</li>
                </ul>
            </article>
        </section>
        <div class="detail__product__questions--failed">
            <p>¿No está tu pregunta?</p>
            <p>¡Contacta con la tienda!</p>
        </div>
        <section class="detail__product__otherproducts">
            <h3>Otros productos que te pueden interesar</h3>
            <div class="detail__product__otherproducts--banner">
                <img src="/images/producto-de-usuario1.webp" alt="">
                <img src="/images/producto-de-usuario2.webp" alt="">
                <img src="/images/producto-de-usuario3.webp" alt="">
                <img src="/images/producto-de-usuario.webp" alt="">
            </div>
        </section>
    </main>
    <footer>
        <div class="footer--logo">
            <a href="/index"><img src="/images/logo2.png" alt="Logo"></a>
        </div>
        <div class="footer_nav">
            <nav class="footer_nav-home">
                <p>Titulos</p>
                <ul type="none">
                    <li><a href="">Home</a></li>
                    <li><a href="">Mi cuenta</a></li>
                    <li><a href="">Contactanos</a></li>
                    <li><a href="">Ayuda</a></li>
                </ul>
            </nav>
            <nav class="footer_nav-aboutUs">
                <p>
                    Titulos
                </p>
                <ul type="none">
                    <li><a href=""> Sobre nosotros</a></li>
                    <li><a href="">Politica de privacidad</a></li>
                    <li><a href="">Politica de cookies</a></li>
                    <li><a href="">Aviso legal</a></li>
                </ul>
            </nav>
            <nav class="footer_nav-aboutUs">
                <p>
                    Titulos
                </p>
                <ul type="none">
                    <li><a href="">Titulos</a></li>
                    <li><a href="">Titulos</a></li>
                    <li><a href="">Titulos</a></li>
                    <li><a href="">Titulos</a></li>
                </ul>
            </nav>
            <div class="footer_nav-app">
                <p>Descarga nuestra app</p>
                <a href=""><img src="https://external-content.duckduckgo.com/iu/?u=https%3A%2F%2Ftse3.mm.bing.net%2Fth%3Fid%3DOIP.a7hkwxpVOiMzChf87GmGdwHaCM%26pid%3DApi&f=1" alt=""></a>
                <a href=""><img src="https://external-content.duckduckgo.com/iu/?u=https%3A%2F%2Ftse4.mm.bing.net%2Fth%3Fid%3DOIP.dnPVcNejErfwIJacdXV27wHaCj%26pid%3DApi&f=1" alt=""></a>
            </div>
        </div>
        <section class="footer__lastsection">
            <nav class="footer__lastsection__navbar">
                <a href=""><i class="fa-brands fa-facebook-f"></i></a>
                <a href=""><i class="fa-brands fa-twitter"></i></a>
                <a href=""><i class="fa-brands fa-google-plus-g"></i></a>
                <a href=""><i class="fa-brands fa-instagram"></i></a>
                <a href=""><i class="fa-brands fa-discord"></i></a>
            </nav>
            <p class="footer__lastsection__copyright">Copyright © 2022 DALF-STORE</p>
        </section>
    </footer>
</body>

</html>