<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/css/styles.css">
    <script src="https://kit.fontawesome.com/b37740f339.js" crossorigin="anonymous"></script>
    <title>DALF | DETALLE</title>
</head>
<body>
    <main class="productdetail__main">
        <section class="detail__purchase">
           <article class="detail__purchase__product">
            <h1 class="detail__purchase__product--title">Producto</h1>
            <p class="detail__purchase__product--price">$precio</p>
            <p class="detail__purchase__product--discount">10% OFF</p>
            <p class="detail__purchase__product--rebajas">En 12 cuotas sin interes</p>
           </article> 
            <input type="text" class="stock-input" placeholder="Stock disponible">
            <p class="detail__product__envio">Envio: Lorem ipsum, dolor sit amet consectetur adipisicing elit.</p>
           <article class="detail__purchase__buttons">
            <div class="detail__purchase--button">
            <button type="submit" name="cart">Agregar al carrito</button>
            <i class="fa-solid fa-cart-shopping"></i>
            </div>
            <div class="detail__purchase--button">
            <button type="submit" name="favorites">Agregar a favoritos</button>
            <i class="fa-solid fa-heart"></i>
            </div>
           </article>
        </section>
        <section class="detail__product__images"> 
            <img src="/images/Silla gamer 1.webp" alt="Producto">
            <img src="/images/Silla gamer 1.webp" alt="foto1">
            <img src="/images/Silla gamer 1.webp" alt="foto2">
            <img src="/images/Silla gamer 1.webp" alt="foto3">
            <img src="/images/Silla gamer 1.webp" alt="foto4">
        </section>
        <section class="detail__product__features">
            <h2>Caracteristicas</h2>
            <ul>
                <li>Lorem ipsum dolor sit.</li>
                <li>Lorem ipsum dolor sit.</li>
                <li>Lorem ipsum dolor sit.</li>
                <li>Lorem ipsum dolor sit.</li>
                <li>Lorem ipsum dolor sit.</li>
                <li>Lorem ipsum dolor sit.</li>
            </ul>
        </section>
        <section class="detail__product__store">
            <p>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Esse culpa eum architecto, sint deserunt labore aperiam consectetur corrupti cupiditate voluptate veniam doloremque temporibus eaque id, eos inventore, fugiat obcaecati odit tempore. Earum optio doloremque nihil iusto ratione totam praesentium vel numquam sed perferendis culpa reprehenderit velit repudiandae, iste necessitatibus asperiores.</p>
        </section>
        <section class="detail__product__ratings">

        </section>
        <section class="detail__product__questions">
            <h2>Preguntas Frecuentes</h2>
            <article>
            <ul>
                <li> Lorem ipsum dolor sit amet consectetur adipisicing elit. Quasi, tempore.</li>
                <li> Lorem ipsum dolor sit amet consectetur adipisicing elit. Quasi, tempore.</li>
                <li> Lorem ipsum dolor sit amet consectetur adipisicing elit. Quasi, tempore.</li>
                <li> Lorem ipsum dolor sit amet consectetur adipisicing elit. Quasi, tempore.</li>
            </ul>
            </article>
            <article>
            <ul>
                <li> Lorem ipsum dolor sit amet consectetur adipisicing elit. Quasi, tempore.</li>
                <li> Lorem ipsum dolor sit amet consectetur adipisicing elit. Quasi, tempore.</li>
                <li> Lorem ipsum dolor sit amet consectetur adipisicing elit. Quasi, tempore.</li>
                <li> Lorem ipsum dolor sit amet consectetur adipisicing elit. Quasi, tempore.</li>
            </ul>
            </article>
        </section>
        <section class="detail__product__otherproducts">
            <h2>Otros productos que te pueden interesar</h2>
            <p>titulo</p>
            <img src="" alt="">
            <p>titulo</p>
            <img src="" alt="">
            <p>titulo</p>
            <img src="" alt="">
            <p>titulo</p>
            <img src="" alt="">
        </section>
    </main>
    <footer class="Footer">
       
    </footer>
</body>
</html>