<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/css/styles.css">
    <script src="https://kit.fontawesome.com/ae7c764a16.js" crossorigin="anonymous"></script>
    
    <title>REGISTER</title>
</head>
<body>
    <header>
        <div class="header__container">
            <section class="header__container--register">
                <div class="register">
                    <h2>REGISTRARSE</h2>
                </div>
            </section>
            <section class="header__container--loginPage">
                <div class="loginPage">
                    <a href="/login"><h2>INICIAR SESIÓN</h2></a>
                </div>
            </section>
        </div>
    </header>
    <main>
        <div class="main__container">
            <section class="main__container--form">
                <form action="">
                    <i class="fas fa-file-signature"></i><input type="text" placeholder="Nombre Completo" class="name">
                    <i class="fa-regular fa-envelope"></i><input type="text" placeholder="Email" class="email">
                    <i class="fas fa-user-astronaut"></i><input type="text" placeholder="Nombre de Usuario" class="userName">
                    <i class="fa-regular fa-keyboard"></i><input type="password" placeholder="Contraseña" class="pass">
                    <i class="fas fa-unlock-alt"></i><input type="password" placeholder="Confirmar Contraseña" class="repass">
                    <input type="submit" value="CREAR CUENTA" class="submit">
                </form>
            </section>
        </div>
    </main>
    <footer>
        <div class="footer__container">
            <section class="footer__container--loginPage">
                <p>¿Ya tenés una cuenta? <a href="/login">¡Iniciá sesión!</a></p>
            </section>
        </div>
    </footer>
</body>
</html>