<!DOCTYPE html>
<html>
    <%- include('./partials/head',{ title:'home', }) %>
<body>
    <form action="">
        <div>
            <label for=""></label>
            <input type="text">
        </div>
        <div>
            <label for=""></label>
            <input type="email">
        </div>
        <div>
            <label for=""></label>
            <input type="text">
        </div>
        <div>
            <label for=""></label>
            <input type="text">
        </div>
    </form>
</body>
</html>