<!DOCTYPE html>
<html lang="en">
    <%- include('./partials/head',{ title:'home', }) %>
<body>
    <main>
        <div class="error--container">
            <img src="/images/error-404.jpg" alt="Error 404">
        </div>
        <div class="error--index">
            <a href="/">VOLVER AL INICIO</a>
        </div>
    </main>
</body>
</html>l