<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/stylesheets/styles.css">
    <script src="https://kit.fontawesome.com/ae7c764a16.js" crossorigin="anonymous"></script>

    <title>LOGIN</title>
</head>

<body id="login">
    <div class="body__container">
        <header>
            <div class="header__container">
                <section class="header__container--login">
                    <h2>INICIAR SESIÓN</h2>
                </section>
                <section class="header__container--register">
                    <a href="/register">
                        <h2>REGISTRARSE</h2>
                    </a>
                </section>
            </div>
        </header>
        <main>
            <div class="main__container">
                <section class="main__container--data">
                    <form action="">
                        <article class="email">
                            <i class="fa-solid fa-paper-plane"></i><label for="email">Email:</label>
                            <input type="email" placeholder="Ingresá tu email" id="email" name="email" required>
                        </article>
                        <article class="password">
                            <i class="fa-solid fa-keyboard"></i><label for="password">Contraseña:</label>
                            <input type="password" placeholder="Ingresá tu contraseña" id="password" name="password" minlength="8" maxlength="25" required>
                        </article>
                        <article class="rememberMe">
                            <label for="remember">Recordarme</label>
                            <input type="checkbox" id="remember" name="remember">
                        </article>
                        <input type="submit" value="INGRESAR">
                    </form>
                </section>
            </div>
        </main>
        <footer>
            <div class="footer__container">
                <section class="footer__container--form">
                    <form action="">
                        <input type="submit" value="¿Olvidaste tu contraseña?">
                    </form>
                </section>
                <section class="footer__container--newAcc">
                    <div class="newAcc">
                        <p>¿Todavía no tenés una cuenta?</p>
                        <a href="/register">¡Registrate!</a>
                    </div>
                </section>
            </div>
        </footer>
    </div>
</body>

</html>