<!DOCTYPE html>
<html lang="en">
<!-- H E A D -->
<%- include('../partials/head',{ title:'home', }) %>
<!-- / H E A D -->


<body class="products">
    <!-- H E A D E R -->
    <%- include('../partials/header',{ title:'home', }) %>
    <!-- / H E A D E R -->
    <!-- M A I N -->
    <main id="products__main">
                <div class="products-caja">
                    <div>
                        <h3 class="products-titulo">Cargar nuevo producto</h3>
                    </div>
                    <form action="" method="post" enctype="multipart/form-data">
                        <div class="form-box">
                            <label class="form__label" for="name">Título:</label>
                            <input class="form__input" type="text" id="nombre" autocomplete="off" name="name" placeholder="Título del producto">
                            <!-- <small class="form__text--error">El nombre es obligatorio</small> -->
                        </div>
                        <div class="form-box">
                            <label class="form__label">Categorías:</label>
                            <select name="categoria" id="">
                        <option value="accion" hidden selected>Seleccionar categoría...</option>
                        <option value="accion">Acción</option>
                        <option value="aventura">Aventura</option>
                        <option value="ftp/tps">FTP/TPS</option>
                        <option value="rpg">RPG</option>
                        <option value="simulacion">Simulación</option>
                        <option value="carreras">Carreras</option>
                        <option value="lucha">Lucha</option>
                        <option value="mmo">MMO</option>
                        <option value="arcade">Arcade</option>
                        <option value="otro">Otro</option>
                    </select>

                        </div>

                        <div class="form-box">
                            <label class="form__label" for="price">Precio:</label>
                            <input class="form__input" type="number" id="" name="price" placeholder="Precio del producto">
                            <!-- <small class="form__text--error">Solo se aceptan numeros en este campo</small> -->

                        </div>

                        <div class="form-box">
                            <label class="form__label">Descuento:</label>
                            <select name="discount" id="">
                        <option value="" hidden selected>Seleccionar descuento...</option>
                        <option value="5">5%</option>
                        <option value="10">10%</option>
                        <option value="15">15%</option>
                        <option value="20">20%</option>
                        <option value="30">30%</option>
                    </select>

                        </div>
                        <div class="form-box">
                            <label class="form__label" for="descripcion">Descripción:</label>
                            <textarea name="description" id="" cols="30" rows="5" minlength="20" maxlength="250" placeholder="Breve descripción del producto..."></textarea>
                        </div>
                        <div class="form-box">

                        <label class="form__label">Companía:</label>
                        <select name="company" id="company">
                        <option value="" hidden selected>Seleccionar...</option>
                        <option value="xbox">Xbox</option>
                        <option value="microsoft">Microsoft</option>
                        <option value="steam">Steam</option>
                        <option value="psn">PSN</option>
                        <option value="ubisoft">Ubisoft</option>
                        <option value="battle.net">Battle.net</option>
                        <option value="otro">Otro</option>
                        </div>
                        <div class="form-box load-image">
                            <label class="form__label" for="imagen">Añadir Imágenes:</label>
                            <input type="file" name="imagen" accept=".jpg" multiple>
                        </div>
                        <div class="form-box buttons">
                            <button class="total-comprar" type="reset">Cancelar</button>
                            <button class="total-comprar" type="submit">Agregar</button>
                        </div>
                    </form>
                </div>
    </main>
    <!-- / M A I N -->
    <%- include('../partials/footer',{ title:'home', }) %>
</body>

</html>