<header id="top">
    <div class="header__top--general">
        <button id="burger"><i class="fa-solid fa-bars"></i></button>
        <nav class="navigation">
            <ul>
                <li>
                    <select name="juegos" id="juegos">
                <option value="">Juegos</option>
                <option value=""></option>
                <option value=""></option>
                <option value=""></option>
                <option value=""></option>
                <option value=""></option>
                </select>
                </li>
                <li>
                    <select name="Xbox" id="Xbox">
                    <option value="">Xbox</option>
                    <option value=""></option>
                    <option value=""></option>
                    <option value=""></option>
                    <option value=""></option>
                    <option value=""></option>
                </select>
                </li>
                <li><a href="#">Software</a></li>
                <li><a href="#">Tarjetas de Regalo</a></li>
                <li><a href="#">Productos fisicos</a></li>
                <li>Español Latinoamericano | ARS</li>
            </ul>
        </nav>
        <a class="header--figure-logo" href="/index"><img src="/images/logo2.png" alt=""></a>
        <div class="header__top--general-navigation_button">
            <button><a href="#"><i class="fa-solid fa-magnifying-glass"></i></a></button>
            <button><a href="/cart"><i class="fa-solid fa-cart-shopping"></i></a></button>
            <button><a href="/login"><i class="fa-solid fa-user"></i></a></button>
        </div>
    </div>
</header>