<section class="carrito__main__section--pruductos-recomendados">
    <p class="carrito__main__section--pruductos-title">Productos que pueden interesarte</p>
    <div class="linea">
        <hr>
    </div>
    <article class="productos-recomendados">

        <div class="glider-contain">
            <div class="glider">
                <div>
                    <a href=""><img src="/images/products/xbox-key.jpeg" alt=""></a>
                </div>
                <div>
                    <a href=""><img src="/images/products/eldenring-card.webp" alt=""></a>
                </div>
                <div>
                    <a href=""><img src="/images/products/RE2-card.jpeg" alt=""></a>
                </div>
                <div>
                    <a href=""><img src="/images/products/megaman11-card.jpeg" alt=""></a>
                </div>
                <div>
                    <a href=""><img src="/images/products/re4-card.jpeg" alt=""></a>
                </div>
                <div>
                    <a href=""><img src="/images/products/gtav-card.jpeg" alt=""></a>
                </div>
                <div>
                    <a href=""><img src="/images/products/minecraftjava-bedrockedition-card.webp" alt=""></a>
                </div>
                <div>
                    <a href=""><img src="/images/products/minecraftjava-card.jpeg" alt=""></a>
                </div>
                <div>
                    <a href=""><img src="/images/products/robux-card-roblox.jpeg" alt=""></a>
                </div>
                <div>
                    <a href=""><img src="/images/products/xbox-key.jpeg" alt=""></a>
                </div>
            </div>


            <button aria-label="Previous" class="glider-prev">«</button>

            <button aria-label="Next" class="glider-next">»</button>

            <div role="tablist" class="dots"></div>
        </div>

    </article>
</section>