<!DOCTYPE html>
<html lang="en">
    <%- include('../partials/head',{ title:'home', }) %>

    <body id="b0dy__c0nt41n3r">
        <div class="body--form">
            <%- include('../partials/logoForms',{ title:'Iniciar sesión' }) %>
            
            <div class="body__form--box">
                <div class="body__form--title">
                    <h2>Iniciar sesión</h2>
                </div>
                <form action="" method="POST">
                    <div class="body__form--inputs">
                        <div class="body__form__inputs--userData">
                            <div class="body__form__inputs__userData--input">
                                <label for="email">Email:</label>
                                <input type="email" placeholder="E-mail" id="email" name="email">
                                <p class="inputs__text__warnings"><%= locals.errors && errors.email ? errors.email.msg : null %></p>
                            </div>
                            <div class="body__form__inputs__userData--input">
                                <label for="pass">Contraseña:</label>
                                <input type="password" placeholder="Contraseña" id="pass" name="pass">
                                <p class="inputs__text__warnings"><%= locals.errors && errors.pass ? errors.pass.msg : null %></p>
                            </div>
                        </div>
                        <div class="body__form__inputs--chckbx">
                            <label for="remember">Recordarme</label>
                            <input type="checkbox" id="remember" name="remember">
                        </div>
                        <div class="body__form__button--btn">
                            <button type="submit">INGRESAR</button>
                        </div>
                    </div>
                </form>
                <div class="body__form__redirect">
                    <div class="body__form__redirect--recoveryPass">
                        <a href="#">¿Olvidaste tu contraseña?</a>
                    </div>
                    <div class="body__form__redirect--register">
                        <a href="/users/register">¿Todavía no tenés una cuenta?</a>
                    </div>
                </div>
            </div>
        </div>
    </body>

</html>