<!DOCTYPE html>
<html lang="en">
    <%- include('../partials/head',{ title:'home', }) %>

    <body id="b0dy__c0nt41n3r">
        <div class="body--form">
            <figure class="body__form__image--container">
                <a href="/">
                    <img src="/images/DALF proyecto logo 3 LIMPIO.png" alt="logo">
                </a>
            </figure>
            <div class="body__form--box">
                <div class="body__form--title">
                    <h2>Perfil de Usuario</h2>
                </div>
                <form action="#">
                    <div class="body__form--inputs">
                        <div class="body__form__inputs--userData">
                            <div class="body__form__inputs__userData--input">
                                <label for="fullName">Nombre completo:</label>
                                <input type="text" placeholder="Nombre completo" id="fullName" name="fullName" required>
                            </div>
                            <div class="body__form__inputs__userData--input">
                                <label for="userName">Nombre de usuario:</label>
                                <input type="text" placeholder="Nombre de usuario" id="userName" name="userName" required>
                            </div>
                            <div class="body__form__inputs__userData__input">
                                <label for="gender">Género:</label>
                                <div class="body__form__inputs__userData__input--radiobtns">
                                    <div class="body__form__inputs__userData__input--radiobtn">
                                        <input type="radio" value="male" id="male" name="gender">
                                        <label for="male">Masculino</label>
                                    </div>
                                    <div class="body__form__inputs__userData__input--radiobtn">
                                        <input type="radio" value="female" id="female" name="gender">
                                        <label for="female">Femenino</label>
                                    </div>
                                    <div class="body__form__inputs__userData__input--radiobtn">
                                        <input type="radio" value="other" id="other" name="gender">
                                        <label for="other">Otro</label>
                                    </div>
                                </div>
                            </div>
                            <div class="body__form__inputs__userData__input--avatar">
                                <button class="body__form__inputs__userData__input__avatar--btn">Elegir Avatar</button>
                                <input type="file" id="avatar" name="avatar">
                            </div>
                        </div>
                        <div class="body__form__button--btn">
                            <button type="submit">GUARDAR CAMBIOS</button>
                        </div>
                    </div>
                </form>
                <div class="body__form__redirect">
                    <div class="body__form__redirect--login">
                        <a href="/">No quiero guardar los cambios</a>
                    </div>
                </div>
            </div>
        </div>
    </body>

</html>