/*general*/
body{
    background-color: #36393f;
    color: #dee2e6; 
}
/*****************header****************/
/******************body*****************/
/**cart**/
.carrito__main{
    display: flex;
    flex-wrap: wrap;
    padding-top: 70px;
}
.articulos{
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    width: 95%;
}
.carrito__main__section--productos{
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: center;
    width: 100%;
    font-size: 10px;
}
.carrito__main__section--pruductos-title{
    width: 95%;
    font-size: 1.3rem;
    margin-bottom: 0;
    font-weight: 600;
}
.linea{
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    color: #fff;
    justify-content: center;
    text-align: center;
    width: 100%;
}
.linea hr{
    width: 95%;
    margin: 0.5rem;
}
.carrito__main__section--productos article{
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-around;
    height: 100px;
    width: 100%;
}
.carrito__main__section--productos article img{
    width: 60px;
    height: 95%;
    margin-right: 10px;
}
.carrito__main__section--productos article div{
    display: flex;
    flex-wrap: wrap;
    flex-grow: 1;
    width: 75%;
    justify-content: end;
}
.delete-product{ 
    width: 50px;
    height: 21.35px;
    margin: 0 5px;
    background-color:#0d6efd ;
    color: #dee2e6;
    border:none;
    border-radius: 5px;
    padding: 3px;
}
.contador-resta, .contador-valor, .contador-suma {
    width: 23px;
    height: 21.35px;
    margin: 0 -2px 0 0;
    border:none;
    border-radius: 10%;
}
.carrito__main__section--productos article div h3{
    width: 100%;
    margin: 0;
    font-size: 12px;
}
.carrito__main__section--productos article div p{
    width: 100%;
    height: 50px;
    margin: 0;
}
.precio{
    background-color:#36393f;
    height: 21.35px;
    border:none;
    color:#dee2e6;
}
/*cart adress*/
.carrito__main__section--productos form {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: center;
    margin: 10px 0;
}
.products-caja2 {
    width:420px ;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.products-caja2 select {
    display: block;
    margin: auto;
    width: 100%;
    height: 40px;
    border: 1px solid var(--C_Ice-Cream);
    border-radius: 5px;
    background: rgba(255, 255, 255, 0.1940);
    color: var(--C_Ice-Cream);
    border-top-right-radius: 15px;
    border-bottom-left-radius: 15px;
    font-size: 0.9rem;
    padding-left: 10px;
    outline: none;
}

.products-caja2 select:hover {
    transition: 0.5s;
    border: 1px solid var(--C_Lightblue_Logo);
    color: var(--C_Lightblue_Logo);
}

.products-caja2 select option {
    background: var(--C_Grey_Dark);
}

/*cart pay*/
#expira{
    width: 80%;
    font-size: 12px;
}

/**total**/
.total{
    width: 80%;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    gap: 13px;
    padding-top: 10px;
    margin-top: 10px;
    border-radius: 15px;
    background: #2b2d32;
    border:solid 1px #6c757d;
}
.total div{
    display: flex;
    flex-wrap: wrap;
    width: 80%;
}
.total-productos, .total-envio, .total-total{
    width: 80%;
    margin: 0;
}
.total-total{
    margin-top: 30px;
}
.total-cantidad{
    width:20%;
    text-align: center;
    margin: 0;
}
.total-total-cantidad{
    width:20%;
    text-align: center;
    margin-top: 30px;
}
.total-comprar{
    display: flex;
    justify-content: center;
    padding: 5px;
}
.total a{
    color: #dee2e6;
    text-decoration: none;
}
.total-comprar button{
    width: 60%;
    height: 30px;
    background-color:#0d6efd ;
    border-radius:5px;
    border:none;
}
/**productos recomedados**/
.carrito__main__section--pruductos-recomendados{
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: center;
    width: 100%;
    padding:10px 0;
}
.productos-recomendados{
    width: 100%;
    margin: 0 auto;
}

.glider div{
    padding-right: 5px;
}
.glider-prev, .glider-next{
    display:none
}
/*****************footer*****************/
/*media queries*/
@media(min-width:768px){
    .total{
        height: 400px;
    }
}
@media(min-width:1024px){
    .carrito{
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
    }
    .carrito__main{
        width: 90vw;
        display: flex;
        justify-content: center;
        padding-top: 120px;
    }
    .carrito__main__section--productos{
        justify-content: space-around;
    }
    .carrito__main__section--productos form{
        width: 60%;
        justify-content: flex-start;
        align-content: center;
    }
    .carrito__main__section--productos article{
        height: 150px;
        width:100%;
    }
    .carrito__main__section--productos article img{
        width: auto;
        height: 95%;
    }
    .carrito__main__section--productos article div{
        height: 80%;
    }
    .articulos{
        width: 60%;
    }
    .total{
        margin-top: 40px;
        width: 35%;
        height: 350px;
    }
    .carrito__main__section--pruductos-recomendados{
        display: flex;
        flex-wrap: wrap;
        flex-direction: row;
        justify-content:center;
    }
    .productos-recomendados{
        display: flex;
        flex-wrap: wrap;
        flex-direction: row;
        justify-content:center;
        width: 95%;
    }
    .products-caja2{
        width: 100%;
        flex-direction: row;
        flex-wrap: wrap;
        justify-content: space-between;
        align-items: flex-start;
    }
    .productos-recomendados a {
        width: 20%;
    }
    
    #medio{
        width: 49%;
    }
    #entero{
        width: 100%;
    }
}