.footer__content {
    display: flex;
    box-sizing: border-box;
    flex-direction: row;
    flex-wrap: wrap;
    background-color: var(--C_Dark);
    width: 100%;
    border-top: 5px solid var(--C_Discord);
    margin-top: 2em;
}

.footer--logo {
    margin: 20px 0px;
    text-align: center;
    width: 100%;
}

.footer--logo img {
    height: 70px;
    width: auto;
}

.footer_nav {
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    width: 100%;
    justify-content: center;
    align-items: center;
}

.footer_nav a {
    text-decoration: none;
    color: #dee2e6;
}

.footer_nav-home,
.footer_nav-aboutUs,
.footer_nav-app {
    width: 70%;
    padding: 5px;
    text-align: center;
}

.footer_nav-aboutUs p {
    font-weight: 600;
    font-size: 1.2rem;
}

.footer_nav-home ul,
.footer_nav-aboutUs ul {
    padding: 5px;
}

.footer_nav-app {
    display: flex;
    flex-direction: column;
}

.footer_nav-app img {
    width: 150px;
}

.payment-method-section {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    width: 100%;
}

.payment-method {
    width: 90%;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}
.payment-method-title, 
.footer_social_networks-title{
    width: 100%;
    text-align: center;
    font-size: 1.2rem;
    font-weight: 600;
    padding: 5px;
}
.method-payment-logo {
    width:50px;
    height:35px;
    padding: 3px;
}

.footer__lastsection {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.footer__lastsection__navbar {
    display: flex;
    justify-self: center;
    text-align: center;
    justify-content: center;
}

.footer__lastsection__navbar a {
    padding: 5px;
    text-decoration: none;
    font-weight: bold;
}

.footer__lastsection__navbar figure {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 42px;
    height: 42px;
    border-radius: 50%;
    border: 2px solid var(--C_Lightblue_Logo);
    transition: 0.9s all ease;
}

.footer__lastsection__navbar a:hover figure {
    border: 2px solid var(--C_Pink_Logo);
    transform: rotate(360deg);
}

.footer__lastsection__navbar a:hover i {
    color: var(--C_Pink_Logo);
    transform: rotate(360deg);
}

.footer__lastsection__navbar i {
    color: var(--C_Lightblue_Logo);
}

.footer__lastsection__copyright {
    text-align: center;
    color: #dee2e6;
    width: 100%;
    margin: 0.5em;
}

@media (min-width: 768px) {
    .footer__formas-de-pago img {
        height: 57px;
        width: 90px;
    }

    .footer__lastsection__navbar {
        color: #dee2e6;
        display: flex;
        justify-content: center;
    }

    .footer__lastsection__navbar ul li {
        /*display: inline-block;*/
        justify-content: space-between;
        padding: 0px 10px;
    }
}

@media (min-width: 1024px) {
    .footer_nav {
        flex-direction: row;
    }

    .footer_nav-home,
    .footer_nav-aboutUs,
    .footer_nav-app {
        width: 100%;
        padding: 5px;
        text-align: center;
    }

    .footer__formas-de-pago img {
        height: 64px;
        width: 105px;
    }

    .footer__lastsection {
        font-size: 20px;
    }
}