:root {
    --C_Ice-Cream: #dee2e6;
    --C_Grey_Dark: #36393f;
    --C_Light_Dark: #212529;
    --C_Dark: #202225;
    --C_Blue: #0d6efd;
    --C_Discord: #3d47a0;
    --C_Light_Grey: #606164;
    --C_Pink_Logo: #ff00a2;
    --C_Lightblue_Logo: #00e4ff;
    --C_Soft_Gray: #808080;
}

a {
    text-decoration: none;
}

p {
    margin: 0;
    padding: 0;
}

figure {
    margin: 0;
}

ul, ol {
    list-style: none;
    margin: 0;
    padding: 0;
}
