/*  HEADER  GENREAL*/

#top {
    padding: 5px;
    background-color: #212529;
    border-bottom: solid 1px #2b2d32;
    position: fixed;
    left: 0;
    top: 0;
    right: 0;
    z-index: 3;
}

.header h1,
h1 {
    text-align: center;
    margin: 0;
    width: 105%
}

.header__top--general {
    display: flex;
    margin: 0;
    padding: 0;
    width: 100%;
    font-size: 20px;
    color: #dee2e6;
    align-items: center;
    justify-content: space-around;
}

#burger {
    border: none;
    background-color: transparent;
    align-items: center;
    color: #dee2e6;
}

.navigation {
    display: none;
}

.navigation ul {
    padding: 0;
    margin: 0;
    display: flex;
    position: absolute;
    top: 56px;
    left: 171px;
    align-items: center;
    left: 56px;
}

.navigation ul li {
    list-style: none;
    color: var(--C_Ice-Cream);
    padding: 2px;
    border: solid 1px var(--C_Ice-Cream);
    margin-left: 5px;
    margin-right: 5px;
}

.navigation ul li a {
    list-style: none;
    color: var(--C_Ice-Cream);
    text-decoration: none;
}

.header--figure-logo img {
    height: 50px;
    padding-top: 5px;
    padding-bottom: 5px;
}

.header__top--general-navigation_button {
    display: flex;
    justify-content: flex-end;
}

.header__top--general-navigation_button button {
    border: none;
    background-color: transparent;
    align-items: center;
    color: #dee2e6;
}

.header__top--general-navigation_button button a {
    color: #dee2e6;
}

@media (min-width: 1024px) {
    /* Desktop */
    .header__top--general {
        margin-bottom: 33px;
    }
    .header--figure-logo {
        padding-right: 815px;
    }
    .navigation {
        display: flex;
    }
}

@media (min-width: 1440px) {
    .header--figure-logo {
        padding-right: 1220px;
    }
    .navigation ul {
        left: 300px;
    }
}

@media (min-width: 1680px) {
    /* H E D E R */
    .header--figure-logo {
        padding-right: 1430px;
    }
    .navigation ul {
        left: 300px;
    }
    /* M A I N */
    .main__section--product-favorite {
        left: 240px;
    }
}