/* Bootstrap */

.dropdown-toggle::after {
    display: none !important;
}

/* .fa-cart-shopping:before, .fa-shopping-cart:before {
    color: white;
} */

.dropdown-item {
    padding: 0 !important;
    color: var(--C_Ice-Cream);
    margin: 5px 0 5px 0px !important;
    font-weight: 600;
}

.dropdown-item:hover {
    transition: 0.5s all;
    color: white;
    background: none;
}

.dropdown-menu {
    background-color: var(--C_Light_Dark);
    border: none;
}

.dropdown-menu li {
    width: 100% !important;
}

.menu_dropdown.show {
    display: flex;
    border: none;
    background-color: var(--C_Light_Dark);
}

.header_div li a {
    color: var(--C_Ice-Cream) !important;
    font-weight: 600;
}

.header_div li a:hover {
    color: white !important;
    transition: 0.5s all;
    background: none;
}

/** NEW SEARCHBAR */

.header--searchbar {
    position: absolute;
    top: 28%;
    left: 50%;
    transform: translate(-50%,-50%);
    transition: all 1s;
    width: 35px;
    height: 35px;
    background: white;
    box-sizing: border-box;
    border-radius: 25px;
    border: 4px solid var(--C_Lightblue_Logo);
    padding: 5px;
}

.header__searchbar--input {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;;
    height: 25.5px;
    line-height: 30px;
    outline: 0;
    border: 0;
    display: none;
    font-size: 0.85em;
    border-radius: 20px;
    padding: 0 15px;
    background-color: white;
}

.header--searchbar i {
    box-sizing: border-box;
    padding: 5px;
    width: 28.5px;
    height: 26.5px;
    position: absolute;
    top: 0;
    right: 0;
    border-radius: 50%;
    color: #212529;
    text-align: center;
    font-size: 0.8em;
    transition: all 1s;
}

.header--searchbar:hover,
.header--searchbar:valid{
    width: 300px;
    cursor: pointer;
}

.header--searchbar:hover input,
.header--searchbar:valid input{
    display: block;
}

.header--searchbar:hover .fa,
.header--searchbar:valid .fa{
    background: #212529;
    /* transform: rotate(1080deg); */
    transform: rotate(3turn);
    color: white;

}

.header--searchbar a {
    display: none;
    position: absolute;
    top: 70px;
    bottom:0;
    left: 0;
    right: 0;
    font-size: 20px;
    color: var(--C_Ice-Cream);
    text-align: center; 
    width: 100%;
}

.header--searchbar:valid a {
    display: block;
}

/** NEW SEARCHBAR | BURGUER MENU */

.burguermenu--searchbar {
    position: absolute;
    top: 10%;
    left: 50%;
    transform: translate(-50%,-50%);
    transition: all 1s;
    width: 35px;
    height: 35px;
    background: white;
    box-sizing: border-box;
    border-radius: 25px;
    border: 4px solid var(--C_Lightblue_Logo);
    padding: 5px;
}

.burguermenu__searchbar--input {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;;
    height: 25.5px;
    line-height: 30px;
    outline: 0;
    border: 0;
    display: none;
    font-size: 0.85em;
    border-radius: 20px;
    padding: 0 15px;
    background-color: white;
}

.burguermenu--searchbar i {
    box-sizing: border-box;
    padding: 5px;
    width: 28.5px;
    height: 26.5px;
    position: absolute;
    top: 0;
    right: 0;
    border-radius: 50%;
    color: #212529;
    text-align: center;
    font-size: 0.8em;
    transition: all 1s;
}

.burguermenu--searchbar:hover,
.burguermenu--searchbar:valid{
    width: 300px;
    cursor: pointer;
}

.burguermenu--searchbar:hover input,
.burguermenu--searchbar:valid input{
    display: block;
}

.burguermenu--searchbar:hover .fa,
.burguermenu--searchbar:valid .fa{
    background: #212529;
    /* transform: rotate(1080deg); */
    transform: rotate(3turn);
    color: white;

}

.burguermenu--searchbar a {
    display: none;
    position: absolute;
    top: 70px;
    bottom:0;
    left: 0;
    right: 0;
    font-size: 20px;
    color: var(--C_Ice-Cream);
    text-align: center; 
    width: 100%;
}

.burguermenu--searchbar:valid a {
    display: block;
}

.offcanvas-header {
    justify-content: center !important;
    margin: 20px 0 0 0;
}

.offcanvas-body {
    width: 100% !important;
    text-align: center;
}

.offcanvas.show:not(.hiding), .offcanvas.showing {
    width: 65% !important;
}

/*  HEADER  GENERAL*/

#top {
    padding: 5px;
    background-color: #212529;
    border-bottom: solid 1px #2b2d32;
    position: fixed;
    left: 0;
    top: 0;
    right: 0;
    z-index: 3;
    padding-bottom: 0;
}

a {
    color: #00e4ff;
}

a:hover {
    transition: all 0.5s ease;
    color: #00e4ff;
}

.header h1,
h1 {
    text-align: center;
    margin: 0;
    width: 105%
}

.header__top--general {
    display: flex;
    margin: 0;
    padding: 0;
    width: 100%;
    font-size: 20px;
    color: #dee2e6;
    align-items: center;
    justify-content: space-around;
}

.header__top--general-navbar {
    padding-bottom: 0;
}

.header__top--login {
    /* padding-left: 10px; */
}

.header__top--login a i {
    transition: all 0.9s ease;
}

.header__top--login a i:hover {
    transform: rotate(360deg);
    color: var(--C_Lightblue_Logo);
}

.offcanvas.offcanvas-end {
    top: 0;
    left: 0;
    border-left: none;
    transform: translateZ(10px);
}

.dropdown__menu--user {
    position: absolute !important;
    top: 3em !important;
    left: -8.7em !important;
    padding: 5px 0 5px 15px !important;
    border-radius: 0;
    border: 3px solid var(--C_Ice-Cream);
    margin: 0;
}

.header__top--arrow::after {
    display: none;
}

.nav-item {
    list-style: none;
}

#burger {
    border: none;
    background-color: transparent;
    align-items: center;
    color: #dee2e6;
}

.navigation {
    display: none;
}

.navigation ul {
    padding: 0;
    margin: 0;
    display: flex;
    position: absolute;
    top: 56px;
    left: 171px;
    align-items: center;
    left: 56px;
}

.navigation ul li {
    list-style: none;
    color: var(--C_Ice-Cream);
    padding: 2px;
    border: solid 1px var(--C_Ice-Cream);
    margin-left: 5px;
    margin-right: 5px;
}

.navigation ul li a {
    list-style: none;
    color: var(--C_Ice-Cream);
    text-decoration: none;
}

.header--figure-logo img {
    height: 50px;
    /* padding-top: 5px; */
    padding-bottom: 5px;
}

.header__top--general-navigation_button {
    display: flex;
    align-items: center;
    gap: 15px;
}

.header__top--general-navigation_button button {
    border: none;
    background-color: transparent;
    color: white;
    position: relative !important;
}



.header__top--general-navigation_button button:hover {
    color: var(--C_Lightblue_Logo);
    animation: bounce 0.9s infinite;
}

@keyframes bounce {
    50% {
        height: 20px;
        transform: translateY(-15px);
    }
}

.header__top--general-navigation_button button a {
    color: #dee2e6;
}

.header__top--search {
    display: none;
}

.header__navbar-nav-searchbar {
    position: absolute;
    left: 5px;
    top: 59px;
    padding: 5px;
    display: block;
    height: 40px;
}

.header__navbar-nav-searchbar input {
    width: 0px;
    height: 40px;
    padding: 0 20px;
    font-size: 18px;
    color: #000;
    font-weight: bold;
    outline: none;
    border: 1px solid silver;
    border-radius: 30px;
    transition: all 0.5s ease;
    text-align: center;
}

.header__navbar-nav-searchbar:hover input {
    width: 298px;
    border: 2px solid var(--C_Lightblue_Logo);
}

.header__navbar-nav-search-button {
    position: relative;
    top: -45px;
    right: 4px;
    background: var(--C_Light_Dark);
    width: 50px;
    line-height: 50px;
    text-align: center;
    cursor: pointer;
}

.header__navbar-nav-search-button i {
    transition: all 0.5s ease;
}

.header__navbar-nav-search-button i:hover {
    transform: rotate(-360deg);
    border: 2px solid var(--C_Lightblue_Logo);
    border-radius: 50%;
    padding: 10px;
    color: var(--C_Lightblue_Logo);
}

.header_div {
    display: none;
}

.header_div {
    width: 100%;
    background-color: var(--C_Discord);
}

@media (min-width: 375px) {
    .header--searchbar {
        display: none;
    }

    .mobile--navbar {
        color: var(--C_Ice-Cream);
        font-weight: 600;
    }

    .mobile--navbar:hover {
        color: white;
    }

    .mobile__nav--dropmenu {
        display: flex !important;
        justify-content: center;
        text-align: center;
    }

    .mobile__navbar--redirect a{
        color: var(--C_Ice-Cream) !important;
        font-weight: 600;
    }

    .mobile__navbar--redirect a:hover{
        color: white !important;
    }

    .burguermenu__navbar--list {
        padding: 0 !important;
        margin: 2em 0 0 0 !important;
        gap: 1.5em;
    }

    .nav__menu--items {
        text-align: center;
    }

    .nav__menu--items li {
        margin: 0 0 10px 0;
    }

}


@media (min-width: 1024px) {
    /* Desktop */

    .header--searchbar {
        display: block;
    }

    .navbar-nav .dropdown-menu {
        position: absolute;
        padding: 5px 0 5px 15px !important;
        margin: 0;
        top: 3.5em;
        border-radius: 0;
        border: 3px solid var(--C_Discord)
    }

    .title__nav_item{
        color: var(--C_Ice-Cream);
        pointer-events: none;
        font-size: 17px
    }

    .cointeiner__links_nav_item{
        background-color: var(--C_Light_Dark);
    }

    .cointeiner__links_nav_item[data-bs-popper]{
        left: 0px;
    }

    .cointeiner__links_nav_item li a{
        margin: 5px 0 5px 0px !important;
    }

    .tarjetaDeRegalo__move[data-bs-popper]{
        background-color: #343a40;
    }

    .tarjetaDeRegalo__move[data-bs-popper]{
        left: -24px;
    }

    .header_div--navbar-desktop {
        display: flex;
        flex-direction: row;
        font-size: 16px;
        text-align: center;
        width: 970px;
        justify-content: center !important;
        gap: 2em;
        height: 3.3em;
        align-items: center;
    }

/*     .header_div--navbar-desktop li {
        padding: 5px;
        padding-left: 15px;
        padding-right: 15px;
    } */

    .header__top--general {
        margin-bottom: 14px;
    }
    .header_div {
        display: flex;
    }
    .navigation {
        display: flex;
    }
    #burger {
        display: none;
    }
    .navbar-toggler {
        display: none;
    }
    .header__top--search {
        position: absolute;
        left: 192px;
        top: 7px;
        padding: 5px;
        display: block;
        height: 40px;
    }
    .header__top--search input {
        width: 0px;
        height: 40px;
        padding: 0 20px;
        font-size: 18px;
        color: #000;
        font-weight: bold;
        outline: none;
        border: 1px solid silver;
        border-radius: 30px;
        transition: all 0.5s ease;
        text-align: center;
    }
    .header__top--search:hover input {
        width: 629px;
        border: 2px solid var(--C_Lightblue_Logo);
    }
    .header__top--search input:focus {
        width: 629px;
    }
    .header__top--search-button {
        position: relative;
        top: -45px;
        right: 4px;
        background: var(--C_Light_Dark);
        width: 50px;
        line-height: 50px;
        text-align: center;
        cursor: pointer;
    }
    .header__top--search-button i {
        transition: all 0.5s ease;
    }
    .header__top--search-button i:hover {
        transform: rotate(-360deg);
        border: 2px solid var(--C_Lightblue_Logo);
        border-radius: 50%;
        padding: 10px;
        color: var(--C_Lightblue_Logo);
    }
}

@media (min-width: 1440px) {
    .header_div--navbar-desktop {
        width: 1178px;
    }
    .navigation ul {
        left: 300px;
    }
    .header__top--search:hover input {
        width: 1050px;
    }
    .header__top--search input:focus {
        width: 1050px;
    }
}

@media (min-width: 1680px) {
    .header_div--navbar-desktop {
        width: 1300px;
    }
    .navigation ul {
        left: 300px;
    }
    .header__top--search:hover input {
        width: 1283px;
    }
    .header__top--search input:focus {
        width: 1283px;
    }
    /* M A I N */
    .main__section--product-favorite {
        left: 240px;
    }
}