body {
    background-color: #36393f;
    font-family: 'Open Sans', sans-serif;
}


/*  H E A D E R */

.header--figure-logo {
    margin: 0 0 0;
}


/* M A I N */

#mid {
    padding-top: 62px;
}

.main h2,
h2 {
    text-align: center;
    padding: 5px;
    margin: 0;
    background-color: #212529;
    border-top: solid 1px #2a2929;
    border-bottom: solid 1px #2b2d32;
    border-radius: 10px 10px 0 0;
    color: #dee2e6;
}

.main--img-banner {
    height: 20vh;
}

#carouselExampleIndicators {
    margin-bottom: 10px;
}

#carouselExampleCaptions {
    margin-bottom: 10px;
}

.main__section--product {
    width: 100%;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}

.main__section--product-article {
    width: 50%;
    padding: 10px;
    color: #dee2e6;
    position: relative;
}

.figure {
    margin: 0 0 0;
}

.main__section--product-article img {
    width: 100%
}

.main__section--product-article p {
    margin: 0;
}


/*  Corazón / Articulo favorito */

.main__section--product-favorite {
    position: absolute;
    top: 13px;
    left: 118px;
}

.main__section--product-favorite i {
    color: #0d6efd;
    background-color: #dee2e6;
    border: solid 1px #0d6efd;
    border-radius: 50%;
    padding: 5px;
}

.main__section--product-content_offers {
    background-color: #3d47a0;
    display: flex;
    flex-direction: column;
    padding-left: 10px;
}

.main-section-price-ofert {
    display: flex;
}

.main__section--product-content {
    background-color: #3d47a0;
    display: flex;
    flex-direction: column;
    padding-left: 10px;
    padding-top: 5px;
}

.main__section--product-description {
    display: none;
}

.main__section--product-region {
    font-size: 12px;
    color: rgb(232, 14, 141);
    padding-left: 5px;
    padding-top: 5px;
    width: 46%;
}

.main__section--product-ubication {
    font-size: 11px;
    color: #b0b2b7;
    padding-left: 5px;
    width: 54%
}

.main__section--product-price {
    font-size: 18px;
    padding-left: 5px;
}

.main__section--product-discount {
    font-size: 13px;
    color: #27a95d;
    padding-left: 5px;
    padding-top: 1px;
}

.main-content-buttom {
    display: flex;
    justify-content: center;
}

.main-display-button {
    margin-bottom: 10px;
    color: #dee2e6;
    background-color: #606164;
    border: solid 1px #2b2d32;
    border-radius: 5px;
    border: none;
    text-align: center;
    padding-left: 20px;
    padding-right: 20px;
    font-size: 17px;
}

.main-carousel-button {
    background-color: #2b2d32;
    border: solid 1px #000000;
    border-radius: 50%;
}

.main--carousel-p-color {
    color: black;
    background-color: #6061641c;
}


/*  F O O T E R */

footer__lastsection__navbar {
    color: #dee2e6;
}

@media (min-width: 375px)
/* Mobile */

{
    .main__section--product-favorite {
        top: 13px;
        left: 144px;
    }
}

@media (min-width: 425px)
/* Mobile */

{
    .main__section--product-favorite {
        top: 13px;
        left: 170px;
    }
}

@media (min-width: 768px)
/* Tablet*/

{
    /* HEADER */
    /* MAIN */
    .main--img-banner {
        height: 30vh;
    }
    .main__section--product {
        width: 100%;
        display: flex;
        flex-wrap: nowrap;
    }
    .main__section--product-favorite {
        top: 13px;
        left: 150px;
        display: block;
    }
    .main__section--product-description {
        display: block;
        font-size: 15px;
        padding-left: 5px;
    }
}

@media (min-width: 1024px)
/* Desktop */

{
    /* MAIN */
    .main--img-banner {
        height: 45vh;
    }
    .main__section--product-favorite {
        top: 15px;
        left: 213px;
    }
}

@media (min-width: 1185px) {
    .main__section--product-favorite {
        left: 289px;
    }
}

@media (min-width: 1440px)
/* Desktop */

{
    .main--img-banner {
        height: 45vh;
    }
    .main__section--product-article {
        width: 20%;
    }
    .main__section--product-favorite {
        top: 19px;
        left: 238px;
    }
}

@media (min-width: 1680px) {
    .main--img-banner {
        height: 55vh;
    }
    .main__section--product-favorite {
        left: 283px;
    }
}