* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
    font-family: 'Open Sans';
    text-decoration: none;
}

::-webkit-scrollbar {
    width: 8px;
    background: var(--C_Light_Dark);
}

::-webkit-scrollbar-thumb {
    background: var(--C_Lightblue_Logo);
}

input:-webkit-autofill,
input:-webkit-autofill:hover, 
input:-webkit-autofill:focus,
input:-webkit-autofill:active {
    -webkit-text-fill-color: var(--C_Ice-Cream);
    box-shadow: 0 0 0px 1000px rgb(75, 75, 75) inset;
    transition: background-color 5000s ease-in-out 0s;
}

#b0dy__c0nt41n3r {
    width: 100%;
    height: 100vh;
    background-image: url(../images/DALF\ BACKGROUND5blur.png);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    background-attachment: fixed;
    position: relative;
}

.inputs__text__warnings {
    color: var(--C_Ice-Cream);
    font-size: 0.75rem;
    text-align: center;
}

/** BODY | LOGO */

.body__form__image--container {
    width: 100%;
}

.body--form img {
    width: 150px;
    margin: 15px;
}

/** BODY | BOX */

.body__form--box {
    width: 75vw;
    display: flex;
    flex-direction: column;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

/** BODY | TITLE */

.body__form--title {
    text-align: center;
    margin-bottom: 10px;
}

.body__form--title h2 {
    color: var(--C_Lightblue_Logo);
    text-transform: uppercase;
    font-size: 1.85rem;
    text-align: center;
}

/** BODY | AVATAR */

.body__form--profileImg {
    height: 125px;
    width: 125px;
    position: relative;
    top: 50%;
    left: 0;
    overflow: hidden;
    border-radius: 50%;
    border: 2px solid var(--C_Ice-Cream);
}

#avatar {
    height: 125px;
    width: 125px;
    margin: 0;
}

#file {
    display: none;
}

#uploadBtn {
    height: 40px;
    width: 100%;
    position: absolute;
    bottom: 0;
    left: 50%;
    transform: translateX(-50%);
    text-align: center;
    background: rgba(0, 0, 0, 0.75);
    color: var(--C_Ice-Cream);
    line-height: 30px;
    font-size: 15px;
    cursor: pointer;
    display: none;
}

/** BODY | INPUTS */

.body__form--inputs {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.body__form__inputs--userData {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 5px;
}

.body__form__inputs__userData--input {
    display: flex;
    flex-direction: column;
    align-items: center;
    position: relative;
}

.body__form--inputs label {
    display: none;
}

.body__form--inputs input {
    width: 225px;
    height: 50px;
    color: var(--C_Ice-Cream);
    background-color: transparent;
    outline: none;
    border: none;
    border-bottom: 2px solid;
    border-image: linear-gradient(to right, var(--C_Lightblue_Logo), var(--C_Pink_Logo)) 1;
    padding-left: 5px;
    padding-top: 15px;
    transition: 1s all;
}

.body__form--inputs ::placeholder {
    color: var(--C_Ice-Cream);
    transition: 1s all;
}

.body__form--inputs input:hover {
    border-image: linear-gradient(to left, var(--C_Lightblue_Logo), var(--C_Pink_Logo)) 1;
}

.body__form--inputs input:hover::placeholder {
    color: var(--C_Pink_Logo);
}

.body__form--inputs input:focus::placeholder {
    color: var(--C_Pink_Logo);
}

/** BODY | INPUTS | CHECKBOX */

.body__form__inputs--chckbx {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 15px;
    margin-top: 25px;
}

.body__form__inputs--chckbx label[for="remember"] {
    display: inline-block;
    color: var(--C_Soft_Gray);
    font-size: 0.9rem;
    font-weight: bold;
    transition: 1s all;
}

.body__form__inputs--chckbx label[for="remember"]:hover {
    color: var(--C_Lightblue_Logo);
    cursor: pointer;
}

.body__form__inputs--chckbx input {
    width: 15px;
    height: 15px;
}

/** BODY | INPUTS | SELECT */

.body__form__inputs__userData__input--select select {
    width: 225px;
    height: 50px;
    color: var(--C_Ice-Cream);
    background-color: transparent;
    outline: none;
    border: none;
    border-bottom: 2px solid;
    border-image: linear-gradient(to right, var(--C_Lightblue_Logo), var(--C_Pink_Logo)) 1;
    padding-left: 5px;
    padding-top: 15px;
    transition: 1s all;
    cursor: pointer;
    appearance: none; /* eliminar flecha del select */
}

.body__form__inputs__userData__input--select select:hover {
    border-image: linear-gradient(to left, var(--C_Lightblue_Logo), var(--C_Pink_Logo)) 1;
}

.body__form__inputs__userData__input--select select option {
    background: var(--C_Dark);
}

/** BODY | INPUTS | TEXTAREA */

.body__form__inputs__userData__input--textArea {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.body__form__inputs__userData__input--textArea textarea {
    resize: none;
    width: 250px;
    height: 100px;
    margin-top: 25px;
    color: var(--C_Ice-Cream);
    background-color: transparent;
    outline: none;
    border: 2px solid;
    border-image: linear-gradient(to right, var(--C_Lightblue_Logo), var(--C_Pink_Logo)) 1;
    padding: 5px 0 0 5px;
    transition: 1s all;
}

.body__form__inputs__userData__input--textArea textarea::placeholder {
    color: var(--C_Ice-Cream);
    transition: 1s all;
}

.body__form__inputs__userData__input--textArea textarea:hover {
    border-image: linear-gradient(to left, var(--C_Lightblue_Logo), var(--C_Pink_Logo)) 1;
}

.body__form__inputs__userData__input--textArea textarea:hover::placeholder {
    color: var(--C_Pink_Logo);
}

.body__form__inputs__userData__input--textArea textarea:focus::placeholder {
    color: var(--C_Pink_Logo);
}

/** BODY | INPUTS | BUTTON */

.body__form__button--btn button {
    width: 200px;
    height: 50px;
    padding: 10px;
    margin: 25px 0 20px;
    cursor: pointer;
    background: rgba(255, 255, 255, 0.050);
    border-image: linear-gradient(to right, var(--C_Lightblue_Logo), var(--C_Pink_Logo)) 1;
    color: var(--C_Ice-Cream);
    font-weight: bold;
    transition: 1s all;
}

.body__form__button--btn button:hover {
    border-image: linear-gradient(to right, var(--C_Pink_Logo), var(--C_Lightblue_Logo)) 1;
    color: var(--C_Pink_Logo);
}

/** BODY | FORMS | REDIRECT */

.body__form__redirect {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    align-items: center ;
    gap: 10px;
}

.body__form__redirect a {
    font-size: 0.8rem;
    color: var(--C_Soft_Gray);
    font-weight: bold;
    transition: 0.75s;
}

.body__form__redirect a:hover {
    color: var(--C_Lightblue_Logo);
    font-size: 0.82rem;
}

/** BODY | FORM | PASSWORD TOGGLER */

.body__form__inputs__userData--input i {
    cursor: pointer;
    color: var(--C_Ice-Cream);
    position: absolute;
    top: 25px;
    right: 5px;
}