.products {
    width: 100%;
    /* height: 100vh; */
    background-image: url(../images/DALF-LOGO-BACKGROUND5blur.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    background-attachment: fixed;
}

#products__main {
    margin: 13em 0 5em 0;
}

.products-caja {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.products_title-box {
    text-align: center;
}

.products_title-box h3 {
    color: var(--C_Lightblue_Logo);
    text-transform: uppercase;
    font-size: 1.85rem;
    margin: 0;
}

.products-caja form {
    background: rgba(255, 255, 255, 0.05);
    padding: 2em;
    width: 50%;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 2em;
}

.form-box {
    width: 25em;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.form-box label {
    font-weight: 600;
    font-size: 1rem;
    margin: 0;
}

.form-box input {
    width: 20em;
    height: 2.75em;
    color: var(--C_Ice-Cream);
    background-color: transparent;
    outline: none;
    border: none;
    border-bottom: 2px solid;
    border-image: linear-gradient(
            to right,
            var(--C_Lightblue_Logo),
            var(--C_Pink_Logo)
        )
        1;
    padding-left: 5px;
    padding-top: 15px;
    transition: 1s all;
}

.form-box ::placeholder {
    color: var(--C_Ice-Cream);
    transition: 1s all;
}

.form-box input:hover {
    border-image: linear-gradient(
        to left,
        var(--C_Lightblue_Logo),
        var(--C_Pink_Logo)
    )
    1;
}

.form-box input:hover::placeholder {
    color: var(--C_Pink_Logo);
}

.form-box input:focus {
    border: 2px solid var(--C_Lightblue_Logo);
    outline: none;
    transition: 0s all;
}

.form-box input:focus::placeholder {
    color: var(--C_Pink_Logo);
}

.form-box select {
    width: 20em;
    height: 2.75em;
    color: var(--C_Ice-Cream);
    background-color: transparent;
    outline: none;
    border: none;
    border-bottom: 2px solid;
    border-image: linear-gradient(to right, var(--C_Lightblue_Logo), var(--C_Pink_Logo)) 1;
    padding-left: 5px;
    padding-top: 15px;
    transition: 1s all;
    font-family: 'Open Sans', sans-serif;
}

.form-box option {
    font-family: 'Open Sans', sans-serif;
    background-color: var(--C_Light_Dark);
}

.form-box select:hover {
    border-image: linear-gradient(to left, var(--C_Lightblue_Logo), var(--C_Pink_Logo)) 1;
}

.form-box textarea {
    resize: none;
    width: 20em;
    height: 8.25em;
    margin-top: 1em;
    color: var(--C_Ice-Cream);
    background-color: transparent;
    outline: none;
    border: 2px solid;
    border-image: linear-gradient(to right, var(--C_Lightblue_Logo), var(--C_Pink_Logo)) 1;
    padding: 5px 0 0 5px;
    transition: 1s all;
}

.form-box textarea::placeholder {
    color: var(--C_Ice-Cream);
    transition: 1s all;
}

.form-box textarea:hover {
    border-image: linear-gradient(to left, var(--C_Lightblue_Logo), var(--C_Pink_Logo)) 1;
}

.form-box textarea:hover::placeholder {
    color: var(--C_Pink_Logo);
}

.form-box textarea:focus::placeholder {
    color: var(--C_Pink_Logo);
    background: transparent;
}

.form-box small {
    position: relative;
    top: 0.25em;
    color: var(--C_Ice-Cream) !important;
    font-size: 0.9rem;
    font-weight: 500;
    text-align: center;
    z-index: 100;
}

.buttons {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.buttons button {
    width: 8em;
    height: 3.125em;
    padding: 10px;
    margin: 25px 0 20px;
    cursor: pointer;
    background: rgba(255, 255, 255, 0.05);
    border-image: linear-gradient(
            to right,
            var(--C_Lightblue_Logo),
            var(--C_Pink_Logo)
        )
        1;
    color: var(--C_Ice-Cream);
    font-weight: bold;
    transition: 1s all;
}

.buttons:hover {
    border-image: linear-gradient(
        to right,
        var(--C_Pink_Logo),
        var(--C_Lightblue_Logo)
    )
    1;
color: var(--C_Pink_Logo);
}