/* DETAIL PURCHASE BOX*/

body {
    margin: 0;
    padding: 0;
    font-family: 'Open Sans', sans-serif;
}

h3 {
    color: var(--C_Ice-Cream)
}


/*  H E A D E R */


/* M A I N */

.productdetail__main {
    padding-top: 78px;
}

.main__product__images {
    width: 100%;
    display: flex;
    justify-content: center;
}


/*  F O O T E R */

.detail__purchase {
    background-color: #3d47a0;
    padding: 10px;
    border-top: solid 1px var(--C_Light_Dark);
    margin-bottom: 20px;
}

.detail__purchase__product {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    text-align: center;
    padding: 5px;
    background-color: #2b2d32;
    border: solid 1px #212529;
    border-radius: 5px;
}

.bar-button-stock {
    padding: 10px;
}

.detail__purchase__product--title {
    width: 100%;
    text-align: center;
    color: var( --C_Ice-Cream);
}

.detail__purchase__product--box {
    display: flex;
    flex-direction: row;
    justify-content: center;
}

.detail__purchase__product--price {
    color: var( --C_Ice-Cream);
    display: inline-block;
    margin-left: 5px;
}

.detail__purchase__product--rebajas {
    color: var( --C_Ice-Cream);
    font-size: 13px;
}

.detail__purchase__product--discount {
    color: #27a95d;
    margin-left: 36px;
    font-size: 13px;
    margin-top: 19px;
}

.detail__product__envio {
    color: var( --C_Ice-Cream);
    border: solid 1px #212529;
    padding: 5px;
    margin: 5px 0px;
    border-radius: 5px;
    background-color: #2b2d32;
}

.stock-input {
    border-radius: 5px;
    border: solid 1px #212529;
    border-radius: 5px;
    width: 70%;
    height: 21.35px;
}

.contador-resta,
.contador-valor,
.contador-suma {
    width: 23px;
    height: 21.35px;
    margin: 0 -2px 0 0;
    border: none;
    border-radius: 10%;
}

.detail__purchase__buttons {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 0;
}

.detail__purchase__buttons button {
    width: 280px;
    background-color: #606164;
    color: var(--C_Ice-Cream);
    height: 30px;
    border: none;
    border-radius: 5px;
    border: solid 1px #212529;
}

.detail__purchase__buttons--cart {
    margin: 5px 0px;
}

.detail__product__images {
    display: flex;
    flex-wrap: wrap;
    background-color: #2b2d32;
    justify-content: center;
}

.detail__product__images img {
    width: 18%;
    padding: 10px;
}

.detail__product__features {
    background-color: var(--C_Discord);
    border: solid 1px #212529;
}

.detail__product__features h3 {
    text-align: center;
    margin: 0;
    border-bottom: solid 1px #212529;
}

.detail__product__features ul {
    margin: 0;
    padding: 0;
}

.detail__product__features ul li {
    list-style: none;
    color: var(--C_Ice-Cream);
    padding: 5px 0px 5px 10px;
}

@media (min-width: 768px) {
    .detail__purchase {
        width: 280px;
    }
}