
/* M A I N  */
.main__result{
    padding-top: 9rem;
    padding-bottom: 6rem;
    width: 100%;
}

.main__result-all{
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;
}

.main__result-products{
    width: 43%;
}
@media (min-width: 1024px) {
    .main__result-products{
        width: 100%;
    }
}