
/* M A I N  */
.main__result{
    padding-top: 100px;
}

.main__result-all{
    display: flex;
    flex-wrap: wrap;
}

.main__result-products{
    width: 50%;
    display: flex;
    justify-content: space-evenly;
    margin-top: 10px;
    flex-wrap: wrap;
}


@media (min-width: 768px){
.main__section--product-result {
    width: 100%;
    display: flex;
    flex-wrap: nowrap;
    align-items: center;
}

}

@media (min-width: 1024px) {
    .main__result-products{
        width: 100%;
    }
}

@media (min-width: 1440px) {

    .main__result{
        padding-top: 100px;
    }
    .main__result-products{
    width: 43%;
    }
    
}

box-sizing: border-box;
    padding: 0;
    margin: 0;
    font-family: 'Open Sans';
    text-decoration: none;


/* vamos a carrear a fede y a luca c: */