@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@300&display=swap');
@import'/css/normalize.css';
@import'/css/general.css';
@import'/css/index.css';
@import'/css/productDetail.css';
@import'/css/cart.css';
@import'/css/footer.css';
@import'/css/header.css';
@import'/css/aboutUs.css';
@import'/css/favourites.css';
@import'/css/shopping.css';
@import'/css/productsLoad.css';
@import'/css/results.css';
@import'/css/login-register.css';
@import'/css/profile.css';
@import'/css/profileUpdate.css';